# Node
node_modules
npm-debug.log
/resources/package-lock.json
dbdata/

.sass-cache

#wordpress core
wp-config.php
.htaccess
wp-content/uploads
wp-content/uploads/
uploads

#styling
wp-content/themes/tilt-site/css/global.min.css
wp-content/themes/tilt-site/css/global.min.css.map
wp-content/themes/tilt-site/css/video-js.min.css
global.min.css
global.min.css.map
global.css
global.css.map

log
log/*
