/* about page styling */

header {
    z-index: 1;
}

.about-header-container, .header-container {
    padding: 12.0570866142% 40px;

    @media handheld, screen and (min-width: $bp-desktop) {
        padding: 12.0570866142% 18.4547244094%;
    }

    .text-container {
        max-width: 780px;
        margin: 0 auto;

        p {
            @include font-size(20);
            line-height: 25px;
            @media handheld, screen and (min-width: $bp-desktop) {
                @include font-size(25);
                line-height: 30px;
            }

        }

        .header-content {
            margin-top: 12.0570866142%;

            @media handheld, screen and (min-width: $bp-desktop) {
                margin-top: 81px;
            }

            p {
                @include font-size(15);
                line-height: 26px;
                font-family: $f-merriweather;
                font-weight: 300;
                text-transform: none;

                @media handheld, screen and (min-width: $bp-desktop) {
                    @include font-size(20);
                    line-height: 34px;
                }

            }
        }

    }
}

.fixed {
    position: fixed;
    top: 0;
}

.about-full-height-video {
    position: relative;
    padding: 0;

.video-container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;

    video  {
        min-width: 100vw;
        width: auto;
        min-height: 100vh;
        height: auto;
        margin-left: -50vw;
        transform: translateX(50vw);
    }
}


    .about-video-overlay {
        top: 0;
        position: absolute;
        height: 100vh;
        width: 100%;
        background: rgba(0,0,0,0.25);
        overflow: hidden;

        .text-container {

            top: 50%;
            transform: translateY(-50%);
            padding: 0 40px;

            @media handheld, screen and (min-width: $bp-desktop) {
                padding: 0 18.4547244094%;
            }




            .text {

                max-width: 780px;
                margin: 0 auto;
                color: #ffffff;
                font-size: 7rem;
                position: relative;
                z-index: 1;


                p {
                    color: #fff;
                    @include font-size(15);
                    text-transform: uppercase;
                    line-height: 11px;
                    letter-spacing: 1.35px;
                    font-family: SeroOT-Light;

                    @media handheld, screen and (min-width: $bp-desktop) {
                        @include font-size(18);
                        line-height: 26px;
                        margin-bottom: 15px;
                        margin-left: 20px;

                    }
                }

                ul {
                    width: 90%;
                    margin-top: 16px;
                    @media handheld, screen and (min-width: $bp-desktop) {
                        width: 90%;
                        margin-top: 0px;
                    }

                    li {
                        color: #fff;
                        @include font-size(20);
                        line-height: 30px;
                        margin-top: 0;
                        position: relative;
                        margin-bottom: 10px;
                        margin-left: 20px;

                        @media handheld, screen and (min-width: $bp-desktop) {
                            @include font-size(30);
                            line-height: 46px;
                        }

                        &:before {
                            content: '\00B7';
                            display: inline-block;
                            padding-right: 10px;
                            position: absolute;
                            margin: 0 -20px;
                        }
                    }
                }
            }
        }
    }
}

.about-text-container {
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative;

    .text-container {
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
            padding: 0 40px;

            @media handheld, screen and (min-width: $bp-desktop) {
                padding: 0 18.4547244094%;
            }

        .text {

            max-width: 780px;
            margin: 0 auto;

            p {
                @include font-size(20);
                line-height: 30px;
                letter-spacing: 0.9px;
                font-family: $f-merriweather;
                @media handheld, screen and (min-width: $bp-desktop) {
                    @include font-size(30);
                    line-height: 48px;
                    margin-left: 20px;
                }
            }

            p:first-child {
                @include font-size(15);
                text-transform: uppercase;
                font-family: SeroOT-Light;
                line-height: 11px;

                @media handheld, screen and (min-width: $bp-desktop) {
                    @include font-size(18);
                    line-height: 26px;
                    margin-bottom: 15px;
                    margin-left: 20px;
                }

            }

            p + p {
                margin-top: 16px;

                @media handheld, screen and (min-width: $bp-desktop) {
                    margin-top: 0px;
                }

            }
        }
    }
}

.about-related-container {
    display: block;
    position: relative;
    z-index: 1;


    @media handheld, screen and (min-width: $bp-desktop) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }

    .left-container {
        width: 100%;
        position: relative;
        overflow: hidden;

            @media handheld, screen and (min-width: $bp-desktop) { 
                width: 50%;
            }

        img {
            transition: transform ease 0.5s;
            width: 100%;
        }

        .related-titles {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 12.4015748031%;
            opacity: 0;
            transition: opacity ease 0.5s;

            p {
                font-size: 1rem;
                font-family: "SeroOT-Light", "Helvetica", "Arial", sans-serif;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: white;
                line-height: 22px;
                padding-bottom: 5px;
            }

            .title {
                padding-bottom: 5px;
            }
        }

        &:hover {

            img {
                opacity: 0.4;
                transform: scale(1.1, 1.1);
                transition: transform ease 0.5s;
            }

            .related-titles {
                cursor: pointer;
                opacity: 1;
                transition: opacity ease 0.5s;
            }
        }
    }

    .right-container{
        width: 100%;
        position: relative;
        overflow: hidden;

            @media handheld, screen and (min-width: $bp-desktop) { 
                width: 50%; 
            }

        img {
            transition: transform ease 0.5s;
            width: 100%;
        }

        .related-titles {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 12.4015748031%;
            opacity: 0;
            transition: opacity ease 0.5s;

            p {
                font-size: 1rem;
                font-family: "SeroOT-Light", "Helvetica", "Arial", sans-serif;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: white;
                line-height: 22px;
                padding-bottom: 5px;
            }

            .title {
                padding-bottom: 5px;
            }
        }

        &:hover {

            img {
                opacity: 0.4;
                transform: scale(1.1, 1.1);
                transition: transform ease 0.5s;
            }

            .related-titles {
                cursor: pointer;
                opacity: 1;
                transition: opacity ease 0.5s;
            }
        }
    }
}

.about-work-button {
    text-align: left;
    text-transform: uppercase;
    padding: 60px 40px 100px;
    position: relative;

    @media handheld, screen and (min-width: $bp-desktop) { 
            padding: 74px 0 159px 0;
                text-align: center;
    }

}
