nav{
    &.navigation{

        background-color: $c-tilt-pink;
        text-align: center;

        .nav-links{
            display: inline-block;
        }
    }

    .page-numbers{
        @include font-size(16);
        letter-spacing:1px;
        color: white;
        font-family:$f-seroot-thn;

        @media handheld, screen and (min-width: $bp-desktop){
         @include font-size(25);
     }

     & + * {
        margin-left: 15px;
        @media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) { margin-left: 20px; }
    }

    &.current, &.next, &.prev{
        color: white;
    }

    &.next {
        margin-left: 25px;
    }

}

h2{
    text-indent: -999999px;
    font-size: 0;
    margin:0;
    line-height:0;
}
}

#news{
    background-size: cover;
    height: 400px;
    min-height: 60%;
    background-position: 50% 50%;

    @media screen and (min-width: $bp-desktop) {
        background-position: 50% 0;
        height: 577px;
    }
    &.work-item {
        .container--header {
            background-color: rgba(0,0,0,0);
        }
    }
}


#social {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 15%;

    @media screen and (max-width: $bp-desktop) {
        display: inline-block;
        position: absolute;
        bottom: 2%;
    }

    a {
        vertical-align: middle;

        @media screen and (min-width: $bp-desktop) {
            margin: 10px 0 !important;
            width: 21px;
            text-align: center;
        }
    }
}

.news-wrapper {
    max-width: 1270px;

    @media screen and (min-width: $bp-desktop) {
        margin: 0 auto;
        max-width: 684px;
    }

    .header-title{
        width: 100%;

        h1 {
            @include font-size(40);
            
            @media screen and (min-width: $bp-desktop) {
                @include font-size(60);
                line-height: 64px;
            }
        }

        .news-date {
            @include font-size(17);
            padding-top: 10px;
            font-family: $f-seroot-lt;
            color: $c-grey-94;
            letter-spacing: 1px;
            @media screen and (min-width: $bp-desktop) {
                @include font-size(16);
                width: 50%;
            }
        }
    }
    .news--anim_one {
        transition: all 0.5s ease 0.5s;
    }

    #visual_content { 
        margin-bottom: 42px; 
            @media screen and (min-width: $bp-desktop) {
                margin-bottom:90px; 
            }
    }

    .news-wrapper--header {
       max-width: none;
       padding: 52px  6.25% 0 6.25%;
       @media screen and (min-width: $bp-desktop) {
        padding: 52px  5.0393700787% 0 5.0393700787%;
       }
    }

    .news-container {
        @extend %clearfix;
        padding: 0 percentage(64/1270);
        margin-bottom: 45px;

        @media handheld, screen and (min-width: $bp-desktop) {
            margin-bottom: 90px;
        }

        .intro-text {
                margin: 40px 0px 71px 0px;
                @media handheld, screen and (min-width: $bp-desktop) {
                    margin: 0;
                }
            }

        h3 {
            margin-top: 1.8em;
        }

        h4 {
            margin-top: 1.8em;
        }

        p {
            color: #d2d2d2;
            &:img {
                margin-top: 1.8em;
            }
        }

        ul {
            margin: 1.8em 0;
            li {
                position: relative;
                margin: 0 0 10px;
                line-height: 1.7;
                padding-left: 15px;
                color: #d2d2d2;
                &:before {
                    content: '•';
                    display: inline-block;
                    position: absolute;
                    left: 0;
                }
            }
        }

        &.intro {
            margin: 40px 0 0 0;

            @media screen and (min-width: $bp-desktop) { 
                margin: 40px 0 80px 0;
            }
        }

        &.gallery-container {
            @media screen and (min-width: $bp-desktop) {
                margin-left: -30% !important;
                margin-right: -30% !important;
                padding: 0 !important;
            }
        }

        &.news--footer {
            padding-bottom: 5%;
            @media handheld,
            screen and (min-width: 0px) and (max-width: $phone-breaks) {
                padding-bottom: 9%;
            }
            @media handheld,
            screen and (min-width:$phone-breaks) and (max-width:$bp-phone) {
                padding-bottom: 9%;
            }
            @media handheld,
            screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
                padding-bottom: 4%;
            }
        }

        &.footer-social {
            border-top: 1px solid #8f8f8f;
            margin-bottom: 120px;
            padding: 0 20px !important;
            @media screen and (min-width: $bp-desktop) {
                padding: 0 !important;
            }
            #footer-social {
                padding: 23px 0 0 0;
                float: right;

                .news-share {
                    display: inline-block;
                    font-size: 13px;
                    vertical-align: middle;
                }

                a {
                    padding: 0 0 0 19px;
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
    }
}


