/* stylesheet for tilt talk section pages */

.talk-sections {

	.talk-item-header {
		height: 70vh;
		z-index: 1;
	}

	.main-talk-content {

		.container {
			
			&:first-child {
				padding: 60px 0px;
			}
			
			.header-text {
				width: 100%;
				max-width: 684px;
				margin: 0 auto;

				h2 {
					@include font-size(60);
				}
			}
		}

		.video-blog {
			padding: 0;
			display: flex;
    		justify-content: center;
			
				.video-half {
					width: 50%;
						height: 0;
						position: relative;
						padding: 25px 0 26.25% 0;


						iframe {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
						}

				}

				.blog-half {
					width: 50%;
					height: 400px;

					.blog-titles {
						position: relative;
					    top: 50%;
					    margin: 0 40px;
					    width: 70%;
					    transform: translateY(-50%);
					}

				}


		}

	}

}