$c-grey-57: #575757;
$c-grey-8f: #8f8f8f;
$c-grey-c7: #c7c7c7;
$c-grey-e8: #e8e8e8;
$c-grey-25: #252525;
$c-grey-94: #949393;
$c-grey-5e: #5e5e5e;
$c-grey-2d: #2d2d2d;
$c-grey-1b: #1b1b1b;
$c-grey-3a: #3a3a3a;
$c-grey-7d: #7d7d7d;

$c-bg: #1f1f1f;
$c-white: #ffffff;

$c-green-1: #62c88e;
$c-green-2: #75c775;
$c-green-3: #68c59d;

$c-purple: #b477aa;
$c-pink-1: #ff73c0;
$c-pink-2: #d77ba1;
$c-pink-3: #cf3053;

$c-blue-1: #70c0ea;
$c-blue-2: #7eb8d5;

$c-olive: #cad479;

$c-orange: #e9c54c;

$c-tilt-pink: #ff4c74;
$c-tilt-pink2: #ec135b;
