.area-dark{
    background-color: $c-bg;

    h1,h2,h3,h4,h5,p,span,li{
        color: white;
    }

    header.case-study & {
        background: none;
    }
}

.container.area-dark{
    background-color: $c-bg;
}

.area-dark--lighter{
    background-color: $c-grey-25;
}

.centre-image{
    display: block;
    margin: 0px auto;
}

.no-background{
    background-color: transparent;
}

.centre-vertical{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.text-center{
    text-align: center;
}

.area-dark-smoke {



	background:url('../images/about/smoke_bg.jpg') 0px 0px $c-bg no-repeat;

    h1,h2,h3,h4,h5,p,span,li{
        color: white;
    }

    header.case-study & {
        background: none;
    }

}

// .stop-scrolling {
//     // height: 100%;
//     overflow: hidden;
// }
