/* PBS PASSION PICTURES WORK ITEM */
#pbs{
    background: #e4c24b; /* Old browsers */
    background: -moz-linear-gradient(top,  #e4c24b 0%, #d3b746 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e4c24b), color-stop(100%,#d3b746)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #e4c24b 0%,#d3b746 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #e4c24b 0%,#d3b746 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #e4c24b 0%,#d3b746 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #e4c24b 0%,#d3b746 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4c24b', endColorstr='#d3b746',GradientType=0 ); /* IE6-9 */
}

#sainsburys{
    background: #f08cb6; /* Old browsers */
    background: -moz-linear-gradient(top,  #f08cb6 0%, #dc7aa3 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f08cb6), color-stop(100%,#dc7aa3)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f08cb6 0%,#dc7aa3 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f08cb6 0%,#dc7aa3 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f08cb6 0%,#dc7aa3 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f08cb6 0%,#dc7aa3 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f08cb6', endColorstr='#dc7aa3',GradientType=0 ); /* IE6-9 */

	& .header-title img {
		display:none;
		@media handheld, screen and (min-width: $bp-desktop){
			display:block;
			margin-bottom:20px;
		}
	}

}

#alzheimers{
    background: #b477aa; /* Old browsers */
    background: -moz-linear-gradient(top,  #b477aa 0%, #a9639d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b477aa), color-stop(100%,#a9639d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #b477aa 0%,#a9639d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #b477aa 0%,#a9639d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #b477aa 0%,#a9639d 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #b477aa 0%,#a9639d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b477aa', endColorstr='#a9639d',GradientType=0 ); /* IE6-9 */

    & .header-title img {
		display:none;
		@media handheld, screen and (min-width: $bp-desktop){
			display:block;
		}
	}

	& .header-title img.no--float {
    	float:none;
    }


}

#codeit {
	background:url('../images/work/int_codeit/header_bg.jpg') no-repeat top center fixed;
	background-color:none;
	 -webkit-background-size: cover;
	 -moz-background-size: cover;
	 -o-background-size: cover;
	 background-size: cover;

	& img.award--right {
		display:none;
		@media handheld, screen and (min-width: $bp-desktop){
			display:block;
			position:absolute;
			bottom:8%;
			right:7%;
		}

	}

}

.wrapper .gfk--quote, .wrapper .south-downs--quote { background-color:$c-bg; }


#bp-fll{
    background: #67c9c5; /* Old browsers */
    background: -moz-linear-gradient(top,  #67c9c5 0%, #57c2bd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#67c9c5), color-stop(100%,#57c2bd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #67c9c5 0%,#57c2bd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #67c9c5 0%,#57c2bd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #67c9c5 0%,#57c2bd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #67c9c5 0%,#57c2bd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c9c5', endColorstr='#57c2bd',GradientType=0 ); /* IE6-9 */
}

.container--bp-fll-app { 
	background:url('../images/work/web_fll/ff_background_iphones.png') 0px 0px repeat; 
}


.contact-title{

}

.contact-email{

}

.container--discover-bp-gradient{
    background: #7ac181; /* Old browsers */
    background: -moz-linear-gradient(top, #7ac181 0%, #7ac198 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7ac181), color-stop(100%,#7ac198)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7ac181 0%,#7ac198 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7ac181 0%,#7ac198 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7ac181 0%,#7ac198 100%); /* IE10+ */
    background: linear-gradient(to bottom, #7ac181 0%,#7ac198 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7ac181', endColorstr='#7ac198',GradientType=0 ); /* IE6-9 */
    color: white;
}

.container--icap-gradient{
    background: #f66163; /* Old browsers */
    background: -moz-linear-gradient(top,  #f66163 0%, #f77577 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f66163), color-stop(100%,#f77577)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #f66163 0%,#f77577 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #f66163 0%,#f77577 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #f66163 0%,#f77577 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #f66163 0%,#f77577 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f66163', endColorstr='#f77577',GradientType=0 ); /* IE6-9 */
}

.container--i360-gradient{
    background: #8bafd7; /* Old browsers */
    background: -moz-linear-gradient(top,  #8bafd7 0%, #7a97b8 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8bafd7), color-stop(100%,#7a97b8)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #8bafd7 0%,#7a97b8 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #8bafd7 0%,#7a97b8 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #8bafd7 0%,#7a97b8 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #8bafd7 0%,#7a97b8 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8bafd7', endColorstr='#7a97b8',GradientType=0 ); /* IE6-9 */

}

.container--i360-spot-bg{
    background-color: #e8e8e8;
}

.container--CS-film{
    background-color: #89c3c8;
    color: white;
}

.container--CS-motion-bg{
    background-color: #79b6e1;
    color: white;
}

#homePage, .work-container{
    p.tag{
        color: $c-tilt-pink;
    }

    p.tag--no-square {
    	margin:0px 0px 5px 0px;
    	@include font-size(13);
    	font-family:$f-merriweather;
	    color: $c-tilt-pink;
	    text-transform:uppercase;
	    line-height:0.8;

	 	@media handheld, screen and (min-width:0px) and (max-width:$bp-phone) { @include font-size(13); }
	 	@media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) { @include font-size(13); }


    }

}

#staff-member__about {
	margin:20px 0px 30px 0px;
}

#careers .container--double-side-pad {
	background:url('../images/careers/careers_bg.jpg');
}

.about-service {
	text-align:center;
	color:$c-bg;



	p#web-sprite, p#interactive-sprite, p#motion-sprite, p#film-sprite { transition: all ease 0.5s; }


	&:hover {
		background-color:$c-tilt-pink;
		color:$c-white;

		h3 {
			color:$c-white;
		}

		p#web-sprite { background:url('../images/about/icon_webmobile_hover.png') center top no-repeat; }
		p#interactive-sprite { background:url('../images/about/icon_interactive_hover.png') center top no-repeat; }
		p#motion-sprite { background:url('../images/about/icon_motion_hover.png') center top no-repeat; }
		p#film-sprite { background:url('../images/about/icon_film_hover.png') center top no-repeat; }

	}

}

.about-service p#web-sprite {
	display:block;
	margin:auto;
	height:0;
	width:143px;
	overflow:hidden;
	padding:125px 0px 0px 0px;
	background:url('../images/about/icon_webmobile_active.png') center top no-repeat;
}

.about-service p#interactive-sprite {
	display:block;
	margin:auto;
	height:0;
	width:143px;
	overflow:hidden;
	padding:125px 0px 0px 0px;
	background:url('../images/about/icon_interactive_active.png') center top no-repeat;
}

.about-service p#motion-sprite {
	display:block;
	margin:auto;
	height:0;
	width:143px;
	overflow:hidden;
	padding:125px 0px 0px 0px;
	background:url('../images/about/icon_motion_active.png') center top no-repeat;
}

.about-service p#film-sprite {
	display:block;
	margin:auto;
	height:0;
	width:143px;
	overflow:hidden;
	padding:125px 0px 0px 0px;
	background:url('../images/about/icon_film_active.png') center top no-repeat;
}

.browser-fallback { background:url('../images/footer_browser_fallback.jpg') 0px 0px; }

#video-group #vjs_video_3_html5_api{
    width: 100%;
}

#fourohfour{
    margin-bottom: 0px;
    height: 100vh;

    .header-play{
        top: 30%;
        @media handheld, screen and (min-width: $bp-desktop){
            top: 50%;
        }
    }
}

#fourohfour-text{
    position:absolute;
    bottom: 0;
    background-color: transparent;

    padding-right: 0;
    padding-bottom:3.5%;
    
    h1{
        color: white;
        width: 100%;
        @media handheld, screen and (min-width: $bp-desktop){
            width: 710px;
        }
    }

}

#fourohfour-overlay{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0.76;
    background-color: #fd3762;

}

#fourohfour h1.light {  }

