$base-font-size: 16;
$bp-desktop: 768px;

@function em($px, $context: $base-font-size) {
	@return #{$px/$context}em;
}

@mixin font-size($sizeValue: $base-font-size) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue/$base-font-size) + rem;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.vertical-align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
