$base-font-size: 16;
$bp-desktop: 1024px;
$bp-desktop-large: 1024px;

@function em($px, $context: $base-font-size) {
	@return #{$px/$context}em;
}

@mixin font-size($sizeValue: $base-font-size) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue/$base-font-size) + rem;
}

%clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.vertical-align{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
}

.text-align{
	text-align: center;
}



.group-container .group #twitter__module, .group-container .group #twitter__module_two, .group-container .group #twitter__module_three {
    &:after{
		content: " ";
		height:19px;
		width:25px;
		position: absolute;
		background-image: url("../images/twitter_transparent.png");
		opacity: 0.8;
		bottom:21px;
		right:21px;
    }
}
