// Type
body{
    font-size: 16px;
    height: auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: $f-seroot-blck;
    text-transform: uppercase;
    &.light, & span.light{
        font-family: $f-seroot-lt;
    }

    &.underlined,  & span.underlined {

        &:after{
            content: "";
            height: 2px;
            display: block;
            background-color: black;
            margin-top: 0.3em;
            margin-bottom:0.3em;
            width: em(150,75);

            .area-dark &, .module--dark &{
                background-color: white;
            }
        }
    }
}

h1 {
    @include font-size(25);
    @media handheld, screen and (min-width: $bp-desktop){
        @include font-size(45);
    }
    &.underlined, & span.underlined{
        &:after{
            margin-top: 0.3em;
            width: em(150,75);
        }
    }
    
    .strapline-container & {
	    
	    @include font-size(25);
	    color:$c-tilt-pink;
	    
	    
		
		@media handheld, screen and (min-width: $bp-desktop){
        	@include font-size(70);
		}
		
	

	strong#strapline-text {
		
		display:block;
		color:$c-white;
		@media handheld, screen and (min-width: $bp-desktop-large){
        	display:inline;
		}
		
	}
	
	    
    }
    
    
    
    
}



h2{
    @include font-size(20);
    @media handheld, screen and (min-width: $bp-desktop){
           @include font-size(32);
           &#staff-member__position, &#staff-member__department { @include font-size(38); }
    }
  
    &.underlined{
        &:after{
            margin-top: 0.4em;
            width: em(76, 36);
        }
    }

    &.services{
    	@include font-size(15);
    	margin-top:13px;
    	@media handheld, screen and (min-width: $bp-desktop){
    		@include font-size(23);
			margin-top:18px;
		}
    }

    &.news-date{
    	padding-top:10px;
        @include font-size(16);
        font-family: $f-seroot-lt;
        color: $c-grey-94;
    }
	
	&#staff-member__position, &#staff-member__department {
		font-family:$f-seroot-thn;
		line-height:1.1;
	}
	
	

}

h3{
    @include font-size(20);
    &.marker{
        &:before{
            content:"";
            display: inline-block;
            height: 12px;
            width: 12px;
            background-color: $c-tilt-pink;
            margin-right: 13px;
            margin-left: 2px;
        }
    }

    .map-overlay & {
        @include font-size(15);
        color: $c-tilt-pink;

        font-family: $f-merriweather;
        font-weight: 300;

        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

p {
    @include font-size(16);
    @media handheld, screen and (min-width: $bp-desktop-large){
            @include font-size(16);
    }
    font-family: $f-merriweather;
    font-weight: 300;
    text-transform: none;
    line-height: (35/20);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    & + & {
        margin-top: 1.8em;
    }
    
    &.highlight { font-weight:700; }

    &.first-para, &.tag{
        &:before{
            content:"";
            display: inline-block;
            @media handheld, screen and (min-width: $bp-desktop){
                height:18px;
                width: 18px;
                margin-right:10px;
            }
            height:14px;
            width:14px;
            background-color: $c-tilt-pink;
            margin-right: 8px;
            margin-left: 2px;
        }
    }
    
    &.tag--work-title {
        
        line-height:1.5;
        
        &:before{
         
            @media handheld, screen and (min-width: $bp-desktop){
                height:11px;
                width: 11px;
                margin-right:6px;
            }
            height:8px;
            width:8px;
            
        }
    }
    
	&.tag--work-body {
        
        line-height:1.75;
        
        &:before{
         
            @media handheld, screen and (min-width: $bp-desktop){
                height:13px;
                width: 13px;
                margin-right:8px;
            }
            height:8px;
            width:8px;
            
        }
    }




    &.first-para {  }

    &.sans-serif{
        @include font-size(20);
        @media handheld, screen and (min-width: $bp-desktop){
                @include font-size(25);
        }
        font-family: $f-seroot-lt;
        line-height:1.2;
        text-transform: uppercase;
    }

    &.tag{

        font-family: $f-merriweather;
        font-weight: 300;

        text-transform: uppercase;
        // color:$c-tilt-pink;

    }

    &.footnote{

        font-family: $f-merriweather;
        font-weight: 300;
        color: $c-grey-57;
        font-size: 0.65rem;

        @media handheld, screen and (min-width: 420px){
            font-size: 0.95em;
        }

        @media handheld, screen and (min-width: $bp-desktop){
            font-size: 1em;
        }
    }

    .intro-text &{
     	@include font-size(35);
	 	font-family: $f-seroot-lt;
    }

    &.quote-attribute{
        @include font-size(18);
    }

    .careers & { margin:0 0 30px 0; }
    
    &#staff-member__did-you-know {
	  	@include font-size(14);
	  	@media handheld, screen and (min-width: $bp-desktop){
            @include font-size(20);
        }  
	    
    }
    
    .news-container .intro-text & { 
	    @include font-size(20);
	 	font-family: $f-merriweather;
	 	font-weight:300;
	 	@media handheld, screen and (min-width: $bp-desktop){
	 		@include font-size(30);
	 	}
    }
    
    &.news--home {
	    margin:0;
	    font-size:16px;
	    text-transform:uppercase;
	    font-family:$f-seroot-lt
    }
    
}

/*
.module--2-1 .module__text p {
		@include font-size(12);
	@media handheld, screen and (min-width: $bp-desktop-large){
	 	@include font-size(16);
	 }
	
}
*/

.careers p.first-para {
	margin:0;
	font-family: $f-merriweather;
    font-weight:700;
}

a{
    font-family: $f-seroot-lt;
    text-transform: uppercase;
    text-decoration: none;

    nav & {
        font-size: 2.5em;
    }

    &.contact-email{
        @include font-size(18);
        @media handheld, screen and (min-width: $bp-desktop){
            @include font-size(36);
        }
        font-family: $f-seroot-blck;
        color: $c-tilt-pink;
    }
    
    &.pink { 
    	color: $c-tilt-pink; 
    	text-transform:none;
    }
    
    .news-container & {
    	font-family: $f-merriweather;
		font-weight:300;
	    color: $c-tilt-pink; 
    	text-transform:none;
    }
    
}


strong, b{
    font-family: $f-seroot-blck;
    &.highlight{
        text-transform: uppercase;
        color: $c-tilt-pink;
    }

}

span{

    &.serif{
        font-family: $f-merriweather;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    
    &.highlight { font-weight:700; }
     
    .map-overlay & {
        @include font-size(17);
        @media handheld, screen and (min-width: $bp-desktop){
            @include font-size(35);
        }

        font-family: $f-seroot-lt;
        display: block;
        color: white;
        text-transform: uppercase;
        line-height: (33/25);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    &.author-name{
        color: $c-tilt-pink;
    }

}

ul {
    font-family: $f-merriweather;
    font-weight: 300;

    & li + li{
        margin-top: 25px;
    }
	
	& li {
		 @include font-size(12);
		 @media handheld, screen and (min-width: $bp-desktop){
            @include font-size(16);
		 }
	}
	
    &.standard-list {
        li{

            & + li {
                margin-top: 15px;
            }
            
            & .highlight { font-weight:700; }

            &:before {
               content: "·";
               font-size: 27px;
               vertical-align: middle;
               line-height: 0;
               margin-right: 5px;
            }

            font-family: $f-merriweather;
            font-weight: 300;
            text-transform: none;
            line-height: (35/20);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            list-style-type: none;
        }
    }
   
   
    

    p + & {
        margin-top: 27px;
    }
}

blockquote{
   @include font-size(20);
   font-family: $f-merriweather;
	   font-weight: 300;
	   color: white;
	   -webkit-font-smoothing: antialiased;
	   -moz-osx-font-smoothing: grayscale;
	   line-height: (25/20);
    @media handheld, screen and (min-width: $bp-desktop){ 
	    @include font-size(35);   
	}
	
	 & + p {
	        margin-top: 20px;
	 }
}

.work-container p.sans-serif { margin:10px 0px 0px 0px; }
