a{
    &.button{
        @include font-size(20);
        border-radius: 5px;
        position: relative;
        border: 1px solid white;
        color: white;
        display: inline-block;
        padding: 18px;
        &:after{
            content: ">";
            display: inline-block;
            margin-left: 50px;
            color: $c-tilt-pink2;
        }
        &:hover{
            color: $c-tilt-pink2;
            border-color: $c-tilt-pink2;
        }

    }

    &.project-navigation{
        @include font-size(30);
        color: white;
    }

    p + & {
        margin-top: 14px;
    }
}


/* Container box to set the sides relative to */
.cube {

    display: inline-block;
	text-align: center;
	margin: 0 auto;
	height: 30px;
	-webkit-transition: -webkit-transform .33s;
	transition: transform .33s; /* Animate the transform properties */
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
    margin-top: 30px;
}

/* The two faces of the cube */
.flippety,.flop {
	background: $c-bg;
    border: 1px solid white;
	height: 30px;
}

/* Position the faces */
.flippety {
	-webkit-transform: translateZ(15px);
	transform: translateZ(15px);
}

.flop {
    background-color: white;
	-webkit-transform: rotateX(-90deg) translateZ(-15px);
	transform: rotateX(-90deg) translateZ(-15px);

    p{
        color: $c-bg;
    }
}

/* Rotate the cube */
.cube:hover {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg); /* Text bleed at 90º */
}
