.container{
    padding: percentage(123/876) percentage(127/2032);

    &.container--no-padding{
        padding: 0px;
    }

    &.container--dark{
        background-color: $c-bg;
        h2, p{
            color: white;
        }
    }
}

section{
    @extend %clearfix;

    @media (min-width: $bp-desktop){
        &.text-section{

            h2{
                float: left;
                width: 50%;
            }
            .text-section__para{
                float: right;
                width: 50%;
            }
        }
    }
}

.group-container{
    @extend %clearfix;

    & + .text-section{
        margin-top: percentage(126/2032);
    }

    .group{
        @extend %clearfix;
    }

    .module{
        position: relative;
        &.module--dark{
            background-color: $c-bg;
            h2, p{
                color: white;
            }
        }
        .module__text{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            padding: 0 percentage(126/1016);
        }
    }

    .module--2-1{
        width: 100%;
        padding-top: 50%;
        background-color: blue;
        clear: left;
    }

    .module--1-1{
        width: 50%;
        padding-top: 50%;
        background-color: pink;
        float: left;
    }

    #module-other{
        background-color: yellow;
    }

    .module--2-2{
        width: 100%;
        padding-top: 100%;
        background-color: green;
    }

    @media (min-width: $bp-desktop){
        .group{
            width: 50%;
        }

        .group--left{
            float: left;
        }
        .group--right{
            float: right;
        }
    }
}
