html, body{
    height: 100%;
}

.container{
    @extend %clearfix;
    position: relative;
    padding: percentage(245/2032) percentage(127/2032);
}

.container--no-padding{
    padding: 0px;
}

section{
    @extend %clearfix;

    @media (min-width: $bp-desktop){
        &.text-section{

            h2{
                float: left;
                width: 50%;
            }
            .text-section__para{
                float: right;
                width: 50%;
            }
        }
    }
}
 /* Group container also can be used a clearfix */
.group-container{
    @extend %clearfix;
/*     background-color: $c-bg; */

    & + .text-section{
        margin-top: percentage(126/2032);
    }

    .group{
        @extend %clearfix;
    }

    @media (min-width: $bp-desktop){
        .group{
            width: 50%;
        }

        .group--left{
            float: left;
        }
        .group--right{
            float: right;
        }
    }
}
