footer{
    max-height: 687px;
    position: fixed;
    bottom: 0;
    z-index: 0;

    @media handheld, screen and (min-width: $bp-desktop){

    }
    .container{
        padding: 0 percentage(381/2032);
        height: 520px;
    }

    .project-navigation{
        height: 50px;
        background-color: $c-tilt-pink;
        width: 50%;
        display: block;
        float: left;
        text-align: center;
        line-height: 1.8;

        &:hover{
            background-color: $c-tilt-pink2;
        }
    }

    .first-para{
        &:before{
            height: 20px;
            background-color: $c-tilt-pink2;
        }
    }

    .telephone{
        float: right;
    }

    .footnote{
        border-top: 1px solid $c-grey-57;
        padding-top: percentage(23/2032);
        clear: both;
    }
}

#signoff{
    background-color: $c-bg;
    height: 117px;
    padding: 0 percentage(126/2032);
}
