header{
    @extend %clearfix;
    background-color: grey;
    position: relative;

    .container--header{
        padding-top: 0px;
        padding-bottom: 0px;
    }

    .header-title{
        & + .header-text{
            margin-top: 20px;
        }
    }

    @media (min-width: $bp-desktop){
        .header-title{
            & + .header-text{
                margin-top: 0px;
            }
        }
    }

    &.case-study{
        height: 100vh;
        .container--header{
            position: absolute;
            bottom: percentage(242/2032);
        }
    }

    &.work-item{
        .container--header{
            padding-bottom: percentage(121/2032);
        }
        @media (min-width: $bp-desktop){
            .header-title{
                width: 50%;
                float: left;
            }
        }
    }
    &.work-item--motion{
        .container--header{
            background-color: rgba(32,32,32,0.9);
            position: absolute;
            bottom: 0;
            padding: percentage(80/2032);
        }
        .video-container{
            height: 100vh;
            background-image: url('../images/video-placeholder.png');
            background-size: cover;
        }
    }

    @media (min-width: $bp-desktop){
        .header-text{
            float: right;
            width: 50%;
        }

         .header-text__module{
             & + .header-text__module{
                 margin-top: 0;
             }
            float: left;
            width: 50%;
        }
    }

    h1 + h2{
        margin-top: 30px;
    }


}

.header-text__module{
    & + .header-text__module{
        margin-top: percentage(65/768);
    }
}

.header-text__module--brief{

}
