#map {
    width: 100%;
    height: 600px;
}

#map div[title="Our Office"] {
	-moz-animation: pulsate 1.5s ease-in-out infinite;
	-webkit-animation: pulsate 1.5s ease-in-out infinite;
	border:1pt solid #FF4C74;
	/* make a circle */
	-moz-border-radius:35px;
	-webkit-border-radius:35px;
	border-radius:35px;
	/* multiply the shadows, inside and outside the circle */
	-moz-box-shadow:inset 0 0 3px #FF4C74, inset 0 0 3px #FF4C74, inset 0 0 3px #FF4C74, 0 0 3px #FF4C74, 0 0 3px #FF4C74, 0 0 3px #FF4C74;
	-webkit-box-shadow:inset 0 0 3px #FF4C74, inset 0 0 3px #FF4C74, inset 0 0 3px #FF4C74, 0 0 3px #FF4C74, 0 0 3px #FF4C74, 0 0 3px #FF4C74;
	box-shadow:inset 0 0 3px #FF4C74, inset 0 0 3px #FF4C74, inset 0 0 3px #FF4C74, 0 0 3px #FF4C74, 0 0 3px #FF4C74, 0 0 3px #FF4C74;
	/* set the ring's new dimension and re-center it */
	height:44px!important;
	margin:-16px 0 0 -16px;
	width:44px!important;
}

#map div[title="Our Office"] img {
    display:none;
}

@-moz-keyframes pulsate {
	from {
		-moz-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
		-moz-transform: scale(1.3);
		opacity: 0;
	}
	to {
		-moz-transform: scale(0.3);
		opacity: 0;
	}
}
@-webkit-keyframes pulsate {
	from {
		-webkit-transform: scale(0.25);
		opacity: 1.0;
	}
	95% {
		-webkit-transform: scale(1.3);
		opacity: 0;
	}
	to {
		-webkit-transform: scale(0.3);
		opacity: 0;
	}
}

.map-overlay{
    position: absolute;
    top: 175px;
    right: 100px;

    h3{
        padding-bottom: 5px;
    }

    span + h3 {
        margin-top: 50px;
    }

}
