.header-item{
    height: 30px;
    width: 30px;
    position: fixed;
    background-color: black;
    z-index: 3;
}

.header-item--menu{
    right: 0;
}

.menu{
    height: 100vh;
    width: 100%;
    background-color: pink;
    position: fixed;
    z-index: 2;
    display: none;
}

.menu__items{
    @extend %clearfix;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    text-align: center;

    .menu__item{
        display: inline;

        & + .menu__item{
            margin-left: 40px;
        }

        a{
            color: white;
            padding-bottom: 15px;
            &:hover{
                border-bottom: 2px solid white;
            }
        }
    }
}
