<div class="container container--no-padding">
    <section>
        <div class="group-container">
            <div class="group group--left">
            <div id="module-5" class="module module--2-2"></div>
            </div>
            <div class="group group--right">
                <div class="module module--1-1"></div>
                <div class="module module--1-1"></div>
                <div class="module module--2-1 area-dark">
                    <div class="module__text">
                        <h2 class="underlined">The Process</h2>
                        <p class="first-para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum quos quod optio, delectus eaque temporibus, at ab placeat incidunt ad esse veritatis est, minima quidem animi omnis natus numquam illum. Repellat aliquid, natus amet quo. Quisquam voluptates magnam aspernatur itaque molestiae error debitis delectus sunt, est non pariatur assumenda accusantium vel maxime optio placeat sint enim explicabo voluptate asperiores natus.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
