@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Spline+Sans:wght@300..700&display=swap');



$f-rooney-bd-it: 'rooney_probold_italic', 'Helvetica', 'Arial', sans-serif;
$f-rooney-lt-it: 'rooney_prolight_italic', 'Helvetica', 'Arial', sans-serif;

$f-instrumentserif: 'Instrument Serif', 'Helvetica', 'Arial', serif;

$f-splinesans: 'Spline Sans', sans-serif;