// Type
body {
    font-size: 16px;
    height: auto;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $f-instrumentserif;
    &.light,
    & span.light {
        font-family: $f-splinesans; /* TODO */
    }
    &.underlined,
    & span.underlined {
        &:after {
            content: "";
            height: 2px;
            display: block;
            background-color: black;
            margin-top: 0.3em;
            margin-bottom: 0.3em;
            width: em(150, 75);
            .area-dark &,
            .module--dark & {
                background-color: white;
            }
        }
    }
}

h1 {
    color: $c-bg;
    @include font-size(50);
    @media handheld,
    screen and (min-width: 0px) and (max-width: $bp-phone) {
        @include font-size(30);
        line-height: 1;
    }
    @media handheld,
    screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
        @include font-size(35);
    }
    &.underlined,
    & span.underlined {
        &:after {
            margin-top: 0.2em;
            margin-bottom: 0.3em;
            margin-left: 2px;
            width: em(150, 75);
        }
    }
    .strapline-container & {
        @include font-size(60);
        @media handheld,
        screen and (min-width: $bp-phone) {
            @include font-size(100);
        }
        @media handheld,
        screen and (min-width: $bp-desktop) {
            @include font-size(120);
        }
        strong#strapline-text {
            display: block;
            color: $c-tilt-pink;
            font-style: italic;
            font-weight: 100;
            @media handheld,
            screen and (min-width: $bp-desktop-large) {
                display: inline;
            }
        }
    }
    span.lowercase {
        text-transform: lowercase;
    }
}

h2 {
    color: $c-bg;
    @include font-size(40);
    @media handheld,
    screen and (min-width: $bp-desktop) {
        &#staff-member__position, &#staff-member__department {
            @include font-size(38);
        }
    }
    @media handheld,
    screen and (min-width:0px) and (max-width:$bp-phone) {
        @include font-size(32);
        line-height: 1.2;
    }
    @media handheld,
    screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
        @include font-size(24);
    }
    &.underlined {
        &:after {
            margin-top: 0.6em;
            width: em(76, 36);
        }
    }
    .text-section & {
        margin-bottom: 15px;
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-desktop) {
            margin-bottom: 5px;
        }
    }
    &.services {
        @include font-size(15);
        margin-top: 13px;
        letter-spacing: 1px;
        @media handheld,
        screen and (min-width: $bp-desktop) {
            @include font-size(22);
            margin-top: 16px;
        }
    }
    &.news-date {
        padding-top: 10px;
        @include font-size(16);
        color: $c-grey-94;
        opacity: 0;
        width: 50%;
        font-weight: 100;
        text-transform: uppercase;
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-phone) {
            @include font-size(14);
        }
    }
    &#staff-member__position,
    &#staff-member__department {
        font-family: $f-instrumentserif; /* LIGHT */
        line-height: 1.1;
    }
    &.about {
        padding: 0px 0px 15px 0px;
    } // .contact--page & {
    //     text-transform: uppercase;
    //     @include font-size(25);
    //     @media handheld,
    //     screen and (min-width: 0px) and (max-width: $bp-phone) {
    //         @include font-size(17);
    //     }
    // }
    &.white {
        color: $c-white;
    }
    span.lowercase {
        text-transform: lowercase;
    }
}

.module--staff h2,
#staff-member__info h2 {
    &:after {
        margin-top: 0.3em;
    }
}

h3 {
    color: $c-bg;
    @include font-size(32);
    transition: all ease 0.5s;
    &.marker {
        &:before {
            content: "";
            display: inline-block;
            height: 12px;
            width: 12px;
            background-color: $c-tilt-pink;
            margin-right: 7px;
            margin-left: 2px;
        }
    }
    .map-overlay & {
        @include font-size(17);
        color: $c-tilt-pink;
        font-family: $f-splinesans;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .about-service &,
    .module--job & {
        font-family: $f-instrumentserif; /* LIGHT */
        @include font-size(25);
        color: $c-tilt-pink2;
        padding-top: 10%;
        padding-bottom: 6%;
    }
    .module--job & {
        color: $c-tilt-pink;
    }
    .careers--image & {
        display: inline-block;
        margin: 0 auto;
        &:after {
            content: " ";
            display: inline-block;
            border-bottom: 1px solid $c-bg;
            width: 100%;
        }
    }
}

h4 {
    @include font-size(30);
    font-weight: 100;
}

em {
    font-style: italic;
}
p, input, select, textarea, legend {
    @include font-size(16);
    @media handheld,
    screen and (min-width: 0px) and (max-width: $bp-phone) {
        @include font-size(14);
    }
    @media handheld,
    screen and (min-width:$bp-phone) and (max-width: $bp-desktop) {
        @include font-size(16);
    }
    font-family: $f-splinesans;
    font-weight: 100;
    text-transform: none;
    line-height:1.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    a {
        color: #fb4a71;
    }
    &+&, ul+& {
        margin-top: 1.8em;
    }
    &.highlight {
        font-weight: 700;
    }
    &.first-para,
    &.tag {
        &:before {
            content: "";
            display: inline-block;
            height: 18px;
            width: 18px;
            margin-right: 8px;
                margin-bottom: 1px;
            @media handheld,
            screen and (min-width: 0px) and (max-width: $bp-phone) {
                height: 11px;
                width: 11px;
            }
            @media handheld,
            screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
                height: 13px;
                width: 13px;
            }
            background-color: $c-tilt-pink;
            margin-right: 7px;
            margin-left: 2px;
            border-radius: 50%;
        }
    }
    &.tag--home-title {
        line-height: 1.5;
        &:before {
            @media handheld,
            screen and (min-width: $bp-desktop) {
                height: 12px;
                width: 12px;
                margin-right: 6px;
            }
            height:11px;
            width:11px;
            margin-right:4px;
        }
    }
    &.tag--work-title {
        line-height: 1.75;
        margin: 5px 0px 0px 0px;
        &:before {
            height: 13px;
            width: 13px;
            @media handheld,
            screen and (min-width: $bp-desktop) {
                margin-right: 6px;
            }
            @media handheld,
            screen and (min-width:0px) and (max-width:$bp-phone) {
                height: 11px;
                width: 11px;
            }
            @media handheld,
            screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
                height: 12px;
                width: 12px;
            }
        }
    }
    &.tag--work-body {
        line-height: 1.7;
        &:before {
            height: 12px;
            width: 12px;
            @media handheld,
            screen and (min-width: $bp-desktop) {
                margin-right: 6px;
            }
            @media handheld,
            screen and (min-width:0px) and (max-width:$bp-phone) {
                height: 11px;
                width: 11px;
            }
            @media handheld,
            screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
                height: 12px;
                width: 12px;
            }
        }
    }
    &.first-para {}
    &.sans-serif {
        @include font-size(20);
        font-family: $f-instrumentserif;
        line-height: 1.13;
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-phone) {
            @include font-size(24);
        }
        @media handheld,
        screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
            @include font-size(32);
        }
        @media handheld,
        screen and (min-width: $bp-desktop) {
                @include font-size(64);
                line-height: 1.13;

        }
        #homePage &,
        .work-container & {
            margin-bottom: 10px;
            @media handheld,
            screen and (min-width: 0px) and (max-width: $bp-phone) {
                @include font-size(24);
            }
            @media handheld,
            screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
                @include font-size(32);
            }
            @media handheld,
            screen and (min-width: $bp-desktop) {
                    @include font-size(46);
                    line-height: 1.2;

            }
        }
        strong {
            font-weight: 100;
            font-style: italic;
        }
    }
    &.tag {
        font-family: $f-splinesans;
        font-weight: 300;
        text-transform: uppercase; // color:$c-tilt-pink;
    }
    &.footnote {
        font-family: $f-splinesans;
        font-weight: 300;
        color: $c-grey-8f;
        font-size: 0.65rem;
        &+& {
            margin-top: 1em;
        }
        @media handheld,
        screen and (min-width: 420px) {
            font-size: 0.95em;
        }
        @media handheld,
        screen and (min-width: $bp-desktop) {
            font-size: 1em;
        }
    }
    .intro-text & {
        @include font-size(35);
        font-family: $f-instrumentserif; /* LIGHT */
    }
    &.quote-attribute {
        @include font-size(18);
        letter-spacing: 0.75px !important;
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-phone) {
            @include font-size(16);
        }
    }
    .careers & {
        margin: 0 0 30px 0;
    }
    &#staff-member__did-you-know {
        @include font-size(14);
        @media handheld,
        screen and (min-width: $bp-desktop) {
            @include font-size(20);
        }
    }
    .news-container .intro-text & {
        @include font-size(20);
        font-family: $f-splinesans;
        font-weight: 300;
        color: $c-grey-94;
        @media handheld,
        screen and (min-width: $bp-desktop) {
            @include font-size(24);
        }
    }
    &.news--home {
        margin: 5px 0px 0px 0px;
        @include font-size(15);
        line-height: 1.1;
        text-transform: uppercase;
        font-family: $f-instrumentserif; /* LIGHT */
        @media handheld,
        screen and (min-width: $bp-phone) {
            @include font-size(25);
        }
        @media handheld,
        screen and (min-width:0px) and (max-width:$bp-phone) {
            line-height: 1.1;
        }
    }
    .module--job & {
        @media handheld,
        screen and (min-width: $bp-phone) and (max-width: $bp-desktop) {
            @include font-size(20);
        }
    }
}

.sans-serif {
    p{
        @include font-size(20);
        font-family: $f-instrumentserif; /* LIGHT */
        line-height: 1.1;
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-phone) {
            @include font-size(16);
            line-height: 1.2;
        }
        @media handheld,
        screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
            @include font-size(18);
        }
        @media handheld,
        screen and (min-width: $bp-desktop) {
                @include font-size(25);
        }
    }
}


.tag--work-body{
    p{
    line-height: 1.7;
        &:before {
            height: 12px;
            width: 12px;
            @media handheld,
            screen and (min-width: $bp-desktop) {
                margin-right: 6px;
            }
            @media handheld,
            screen and (min-width:0px) and (max-width:$bp-phone) {
                height: 11px;
                width: 11px;
            }
            @media handheld,
            screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
                height: 12px;
                width: 12px;
            }
        }
    }
}




.first-para {
    .tag--work-title {
        p{
            line-height: 1.75;
            margin: 5px 0px 0px 0px;
            &:before {
                height: 13px;
                width: 13px;
                @media handheld,
                screen and (min-width: $bp-desktop) {
                    margin-right: 6px;
                }
                @media handheld,
                screen and (min-width:0px) and (max-width:$bp-phone) {
                    height: 11px;
                    width: 11px;
                }
                @media handheld,
                screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
                    height: 12px;
                    width: 12px;
                }
            }
        }
    }
}


.quote-attribute {
    p{
        @include font-size(18);
            letter-spacing: 1px;
            @media handheld,
            screen and (min-width: 0px) and (max-width: $bp-phone) {
                @include font-size(16);
            }
    }
}
/*
.module--2-1 .module__text p {
		@include font-size(12);
	@media handheld, screen and (min-width: $bp-desktop-large){
	 	@include font-size(16);
	 }

}
*/

.careers p.first-para {
    margin: 0;
    font-family: $f-splinesans;
    font-weight: 700;
    &:before {
        display: none;
    }
}

.careers p.text-center {
    margin-bottom: 59px;
    @include font-size(20);
}

a {
    font-family: $f-instrumentserif; /* LIGHT */
    text-decoration: none;
    nav & {
        font-size: 2.5em;
    }
    &.contact-email {
        @include font-size(18);
        @media handheld,
        screen and (min-width: $bp-desktop) {
            @include font-size(36);
        }
        font-family: $f-splinesans;
        font-weight: 100;
        color: $c-tilt-pink;
    }
    &.pink {
        color: $c-tilt-pink;
        text-transform: none;
        font-family: $f-splinesans;
        font-weight: 300;
    }
    .news-container &,
    .text-section & {
        font-family: $f-splinesans;
        font-weight: 300;
        color: $c-tilt-pink;
        text-transform: none;
    }
    .contact--page & {
        text-transform: uppercase;
        @include font-size(25);
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-phone) {
            @include font-size(17);
        }
    }
    @media screen and (min-width: $bp-desktop) {
      &:hover {
          color: rgba(255, 76, 116, 0.5);
      }
    }

}

strong,
b {
    font-weight: bold;
    &.highlight {
    }
}

span {
    &.serif {
        font-family: $f-splinesans;
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    a {
        color: $c-tilt-pink;
    }
    &.highlight {
        font-weight: 700;
    }
    .map-overlay & {
        @include font-size(17);
        @media handheld,
        screen and (min-width: $bp-desktop) {
            @include font-size(25);
        }
        font-family: $f-instrumentserif; /* LIGHT */
        display: block;
        color: white;
        text-transform: uppercase;
        line-height: (33/25);
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    &.author-name {
        color: $c-white;
    }
}

ul {
    font-family: $f-splinesans;
    font-weight: 300;
    & li+li {
        margin-top: 25px;
    }
    & li {
        @include font-size(16);
        @media handheld,
        screen and (min-width: 0px) and (max-width: $phone-breaks) {
            @include font-size(12);
        }
        @media handheld,
        screen and ($phone-breaks) and (max-width: $bp-phone) {
            @include font-size(13);
        }
        font-family: $f-splinesans;
        font-weight: 300;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        /*
@media handheld, screen and (min-width: $bp-desktop){
            @include font-size(16);
		 }

		 @media handheld, screen and (min-width:0px)  and (max-width: $bp-phone) { @include font-size(17); }
*/
    }
    &.standard-list {
        li {
            &+li {
                margin-top: 0px;
            }
            & .highlight {
                font-weight: 700;
            }
            &:before {
                content: "·";
                @include font-size(27);
                vertical-align: middle;
                line-height: 0;
                margin-right: 5px;
            }
            font-family: $f-splinesans;
            font-weight: 300;
            text-transform: none;
            line-height: (35/20);
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            list-style-type: none;
        }
    }
    p+& {
        margin-top: 5px;
    }

}

.news-container ul.standard-list {
    margin-bottom: 27px;
}

/*blockquote,*/ 
blockquote p {
    @include font-size(30);
    font-family: $f-splinesans;
    font-weight: 300;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.45;
    @media handheld,
    screen and (min-width: 0px) and (max-width: $bp-phone) {
        @include font-size(18);
    }
    @media handheld,
    screen and (min-width:$bp-phone) and (max-width: $bp-desktop) {
        @include font-size(25);
    }
    &+p {
        margin-top: 15px;
    }
}

.work-container p.sans-serif {
    margin: 10px 0px 0px 0px;
}

.work-container .cube p.sans-serif {
    margin: 0px 0px 0px 0px;
}


.cc-btn {
    font-family: $f-splinesans !important;
}

.cc-link, .cc-link:active, .cc-link:visited {
    font-family: $f-splinesans !important;    
}


#footer > div.container > div > p.first-para.sans-serif {
    padding-top: 30px;    

}