@font-face {
	font-family: 'merriweather-light';
	src: url('../fonts/Merriweather/merriweather_light-webfont.eot');
    src: url('../fonts/Merriweather/merriweather_light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather_light-webfont.woff2') format('woff2'),
         url('../fonts/Merriweather/merriweather_light-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather_light-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather_light-webfont.svg#rooney_probold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'merriweather-regular';
	src: url('../fonts/Merriweather/merriweather_light-webfont.eot');
    src: url('../fonts/Merriweather/merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Merriweather/merriweather_light-webfont.woff2') format('woff2'),
         url('../fonts/Merriweather/merriweather-regular-webfont.woff') format('woff'),
         url('../fonts/Merriweather/merriweather-regular-webfont.ttf') format('truetype'),
         url('../fonts/Merriweather/merriweather-regular-webfont.svg#rooney_probold_italic') format('svg');
	font-weight: normal;
	font-style: normal;
}
