
@font-face {
	font-family: 'SeroOT';
	src: url('../fonts/SeroOT/SeroOT.eot');
    src: url('../fonts/SeroOT/SeroOT.eot?#iefix') format('embedded-opentype'),
             url('../fonts/SeroOT/SeroOT.woff') format('woff'),
             url('../fonts/SeroOT/SeroOT.ttf') format('truetype'),
             url('../fonts/SeroOT/SeroOT.svg#SeroOT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SeroOT-Black';
	src: url('../fonts/SeroOT/SeroOT-Black.eot');
    src: url('../fonts/SeroOT/SeroOT-Black.eot?#iefix') format('embedded-opentype'),
             url('../fonts/SeroOT/SeroOT-Black.woff') format('woff'),
             url('../fonts/SeroOT/SeroOT-Black.ttf') format('truetype'),
             url('../fonts/SeroOT/SeroOT-Black.svg#SeroOT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SeroOT-Bold';
	src: url('../fonts/SeroOT/SeroOT-Bold.eot');
    src: url('../fonts/SeroOT/SeroOT-Bold.eot?#iefix') format('embedded-opentype'),
             url('../fonts/SeroOT/SeroOT-Bold.woff') format('woff'),
             url('../fonts/SeroOT/SeroOT-Bold.ttf') format('truetype'),
             url('../fonts/SeroOT/SeroOT-Bold.svg#SeroOT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SeroOT-ExtraLightItalic';
	src: url('../fonts/SeroOT/SeroOT-ExtralightItalic.eot');
    src: url('../fonts/SeroOT/SeroOT-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
             url('../fonts/SeroOT/SeroOT-ExtralightItalic.woff') format('woff'),
             url('../fonts/SeroOT/SeroOT-ExtralightItalic.ttf') format('truetype'),
             url('../fonts/SeroOT/SeroOT-ExtralightItalic.svg#SeroOT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SeroOT-Light';
	src: url('../fonts/SeroOT/SeroOT-Light.eot');
    src: url('../fonts/SeroOT/SeroOT-Light.eot?#iefix') format('embedded-opentype'),
             url('../fonts/SeroOT/SeroOT-Light.woff') format('woff'),
             url('../fonts/SeroOT/SeroOT-Light.ttf') format('truetype'),
             url('../fonts/SeroOT/SeroOT-Light.svg#SeroOT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SeroOT-LightItalic';
	src: url('../fonts/SeroOT/SeroOT-LightItalic.eot');
    src: url('../fonts/SeroOT/SeroOT-LightItalic.eot?#iefix') format('embedded-opentype'),
             url('../fonts/SeroOT/SeroOT-LightItalic.woff') format('woff'),
             url('../fonts/SeroOT/SeroOT-LightItalic.ttf') format('truetype'),
             url('../fonts/SeroOT/SeroOT-LightItalic.svg#SeroOT') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SeroOT-Thin';
	src: url('../fonts/SeroOT/SeroOT-Thin.eot');
    src: url('../fonts/SeroOT/SeroOT-Thin.eot?#iefix') format('embedded-opentype'),
             url('../fonts/SeroOT/SeroOT-Thin.woff') format('woff'),
             url('../fonts/SeroOT/SeroOT-Thin.ttf') format('truetype'),
             url('../fonts/SeroOT/SeroOT-Thin.svg#SeroOT') format('svg');
	font-weight: normal;
	font-style: normal;
}
