
@font-face {
    font-family: 'rooney_probold_italic';
    src: url('../fonts/Rooney/rooneyrooneypro-bolditalic-webfont.eot');
    src: url('../fonts/Rooney/rooneyrooneypro-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Rooney/rooneyrooneypro-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/Rooney/rooneyrooneypro-bolditalic-webfont.woff') format('woff'),
         url('../fonts/Rooney/rooneyrooneypro-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/Rooney/rooneyrooneypro-bolditalic-webfont.svg#rooney_probold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'rooney_prolight_italic';
    src: url('../fonts/Rooney/rooneyrooneypro-lightitalic-webfont.eot');
    src: url('../fonts/Rooney/rooneyrooneypro-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Rooney/rooneyrooneypro-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/Rooney/rooneyrooneypro-lightitalic-webfont.woff') format('woff'),
         url('../fonts/Rooney/rooneyrooneypro-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/Rooney/rooneyrooneypro-lightitalic-webfont.svg#rooney_prolight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
