@import 'fonts-rooney-pro';
@import 'fonts-seroot';

$f-rooney-bd-it: 'rooney_probold_italic', 'Helvetica', 'Arial', sans-serif;
$f-rooney-lt-it: 'rooney_prolight_italic', 'Helvetica', 'Arial', sans-serif;

$f-seroot: 'SeroOT', 'Helvetica', 'Arial', sans-serif;
$f-seroot-blck: 'SeroOT-Black', 'Helvetica', 'Arial', sans-serif;
$f-seroot-bd: 'SeroOT-Bold', 'Helvetica', 'Arial', sans-serif;
$f-seroot-extrlt-it: 'SeroOT-ExtraLightItalic', 'Helvetica', 'Arial', sans-serif;
$f-seroot-lt: 'SeroOT-Light', 'Helvetica', 'Arial', sans-serif;
$f-seroot-lt-it: 'SeroOT-LightItalic', 'Helvetica', 'Arial', sans-serif;
$f-seroot-thn: 'SeroOT-Thin', 'Helvetica', 'Arial', sans-serif;
