// Type
h1, h2, h3, h4, h5, h6{
    font-family: $f-seroot-blck;
    text-transform: uppercase;
    &.light{
        font-family: $f-seroot-lt;
    }

    &.underlined{
        &:after{
            content: "";
            height: 2px;
            display: block;
            background-color: black;
        }
    }
}

h1 {
    @include font-size(75);
    &.underlined{
        &:after{
            margin-top: 0.2em;
            width: em(150,75);
        }
    }
}

h2{
    @include font-size(36);
    &.underlined{
        &:after{
            margin-top: 0.4em;
            width: em(76, 36);
        }
    }
}

p{
    @include font-size(20);
    font-family: $f-merriweather-lt;
    text-transform: none;
    line-height: (35/20);

    & + & {
        margin-top: 1.8em;
    }

    &.first-para{
        &:before{
            content:"";
            display: inline-block;
            height: 16px;
            width: 26px;
            background-color: $c-tilt-pink;
            margin-right: 13px;
            margin-left: 2px;
        }
    }
    &.sans-serif{
        @include font-size(25);
        font-family: $f-seroot-lt;
        line-height: (33/25);
        text-transform: uppercase;
    }
}

strong, b{
    font-family: $f-seroot-blck;
}

body{
    font-size: 16px;
}
