a{
    &.button{
        @include font-size(20);
        border-radius: 2px;
        position: relative;
        border: 1px solid white;
        color: white;
        display: inline-block;
        padding: 13px 18px 11px 18px;

        .text-section & {
            display: inline-block;
        }
        &:after{
            content: ">";
            display: inline-block;
            margin-left: 50px;
            color: $c-tilt-pink2;
        }
        &:hover{
            color: $c-tilt-pink2;
            border-color: $c-tilt-pink2;
        }

        &.button--no-border{
            border: none;
            & span {
                &:hover{
                    color: $c-tilt-pink2;
                }
            }

            &:after{
                content: ">";
                display: inline-block;
                margin-left: 5px;
                color: $c-tilt-pink2;
            }
        }

    }

    &.project-navigation{
    
    	@include font-size(18);
		@media handheld, screen and (min-width: $bp-desktop){
	    	 @include font-size(30);
		}

        color: white;
    }

    p + & {
        margin-top: 14px;
    }
}

#form_close{
    display: none;
}

#blog_button{
    position: absolute;
    top: -70px;
    right: 50px;
}


/* Container box to set the sides relative to */
.cube {

    display: inline-block;
	text-align: center;
	margin: 0 auto;
	height: 60px;
	-webkit-transition: -webkit-transform .33s;
	transition: transform .33s; /* Animate the transform properties */
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d; /* <-NB */
    margin-top: 30px;
}

/* The two faces of the cube */
.cube--front,.cub--top {
	
    background:url('../images/button_arrow.png') center right no-repeat $c-bg;;
    border: 1px solid white;
	height: 50px;
    border-radius: 2px;
    padding: 14px 60px 0px 24px;
	
	@media handheld, screen and (min-width: $bp-desktop){
		height: 60px;
	}
	
    p{
        text-align: left;
        @include font-size(18);
        @media handheld, screen and (min-width: $bp-desktop){
        	@include font-size(25);
		}
    }

    .map-overlay & {
        background: transparent;

        p {
            color: white;    
        }
    }
}

/* Position the faces */
.cube--front {
	-webkit-transform: translateZ(25px);
	transform: translateZ(25px);
}

.cub--top {
    background-color: white;
	-webkit-transform: rotateX(-90deg) translateZ(-25px);
	transform: rotateX(-90deg) translateZ(-25px);

    p{
        color: $c-bg;
    }
}

/* Rotate the cube */
.cube:hover {
	-webkit-transform: rotateX(90deg);
	transform: rotateX(90deg); /* Text bleed at 90º */
}

.cube--front__no-bg{
    background-color: transparent;
}

a.cube--link { display:block; }
