.carousel{
    position: relative;
    text-align: center;
    margin: 0px auto;
    max-width: 883px;
}

.carousel-monitor{
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.carousel-images{
    position: absolute;
    top: 4.8%;
    left: 3.8%;
    height: 70%;
    width: 100%;
    overflow: hidden;
}

.carousel-image{
    position: relative;
    height: 98%;
    width: 93%;
    z-index: 1;
    display: block;
    float: left;
    transition: height 0.2s;
    background-size: 100% 100%;
}

.carousel-controls{
    position: absolute;
    display: inline-block;
    height: 15px;
    width: 165px;
    left: 0px;
    right: 0px;
    bottom: -20px;
    margin: 0px auto;
}

.carousel-control{
    border-radius: 30px;
    height: 30px;
    width: 30px;
    background-color: white;
    cursor: pointer;
    float: left;
    transition: all 0.5s;
    border: 2px solid $c-tilt-pink2;

    &:hover{
        background-color: $c-tilt-pink2;
    }

    &.selected{
        background-color: $c-tilt-pink2;

        &:hover{
            background-color: $c-tilt-pink2;
        }
    }

    & + .carousel-control{
        margin-left: 15px;
    }
}

#carousel-image-1{
    background-color: goldenrod;
}

#carousel-image-2{
    background-color: mistyrose;
}

#carousel-image-3{
    background-color: darkorchid;
}

#carousel-image-4{
    background-color: cyan;
}

#carousel-girl{
    position: absolute;
    z-index: 10;
    right: -23%;
    top: 47%;
    height: 70%;
    width: auto;
}
