.carousel{
    position: relative;
    text-align: center;
    margin: 0px auto;
    max-width: 883px;
}

.carousel-monitor{
    position: relative;
    z-index: 2;
    height: 100%;
    width: 100%;
}

.carousel-images{
    position: absolute;
    top:5%;
    left:12%;
    height:80%;
    width:75%;
    overflow: hidden;
}

.carousel-image{
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: block;
    float: left;
    transition: height 0.2s;
    background-size: 100% 100%;
}

.carousel-controls{
    position: absolute;
    display: inline-block;
    height: 15px;
    width:115px;
    left: 0px;
    right: 0px;
    bottom: -30px;
    margin: 0px auto;
}

.five-wide { width:210px; }
.seven-wide { width:300px; } 

.carousel-control{
    border-radius:20px;
    height:16px;
    width:16px;
    background-color:white;
    cursor: pointer;
    float: left;
    transition: all 0.5s;
   
	.grey-icons & { background-color:#b6b6b6; }
   
    &:hover{
        background-color: $c-tilt-pink2;
    }

    &.selected{
        background-color: $c-tilt-pink2;

        &:hover{
            background-color: $c-tilt-pink2;
        }
    }

    & + .carousel-control{
        margin-left: 16px;
    }
    
    
}



#carousel-image-1{
    background-color: goldenrod;
}

#carousel-image-2{
    background-color: mistyrose;
}

#carousel-image-3{
    background-color: darkorchid;
}

#carousel-image-4{
    background-color: cyan;
}

#carousel-girl{
    position: absolute;
    z-index: 10;
    right: -23%;
    top: 47%;
    height: 70%;
    width: auto;
}
