// html, body{
//     height: 100%;
// }

.wrapper{
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom:460px;
    position: relative;
    background-color: $c-bg;
    z-index: 3;
    overflow: hidden;

    #contact & {
        margin-bottom: 0px;
    }

    &.wrapper--old-browser { margin-bottom:0; }

	@media handheld, screen and (min-width: $bp-desktop){
 		margin-bottom:645px;
 	}


}

.wrapper--dark{
    background-color: $c-bg;
}

.wrapper--navved{
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(0.85, 0.85);
    margin-bottom: 0px;
    margin-top: -15%;
}

.worksheet-button-container{
    margin-top: 5%;
}


.container{
    @extend %clearfix;
    position: relative;
    padding: percentage(245/2032) percentage(127/2032);
    z-index: 1;
    background-color: white;

    #carreers & {
        padding: percentage(245/2032) percentage(381/2032);
    }

    #homePage & {
        background-color: transparent;
    }

    &.container--double-side-pad{
        padding: percentage(245/2032) percentage(375/2032);

		&.contact--page { @media handheld, screen and (min-width:0px)  and (max-width: $bp-phone) { padding:25% 10% 12% 10%; } }
		&.container--mobile-header-spacing { @media handheld, screen and (min-width:0px)  and (max-width: $bp-phone) { padding:25% 9% 12% 9%; } }
		&.container--our-services { @media handheld, screen and (min-width:0px)  and (max-width: $bp-phone) { padding:12% 9% 12% 9%; } }

    }

    &.container--mobile-careers {
	    padding: 12% 12%;
	    background-color: $c-grey-25;
	    @media handheld, screen and (min-width: $bp-desktop){
	    	padding:0;
	    }



    }

    &.container--work-pad{
        padding: percentage(60/2032) percentage(375/2032) percentage(100/2032) percentage(385/2032);
    }

    &.container--icap-pad {  }

    &.image-container{
        font-size: 0;
        background-color: $c-grey-1b;
        img{
            height: 100%;
            width: 100%;
        }
    }

    &.about--smoke {
	    background-image:url('../images/about/smoke_bg.jpg') 0px 0px no-repeat;
    }



    #news &.container--header-news{

        padding: 0;
        opacity: 1 !important;

        .header-title{
            padding-top: percentage(55/1270);
            width: 100%;


            .tag{
                padding-bottom:10px;
                margin-top: 8px;
                @media handheld, screen and (min-width: $phone-breaks){
                    padding-bottom: 0.5%;
                    margin-top: 0;
                }
            }

            h1{
                line-height: 1.2;
                @media handheld, screen and (min-width: $phone-breaks){
                    line-height: 1;
                }

                &:after{
                    margin-top: 10px;

                    @media handheld, screen and (min-width: $phone-breaks){
                        margin-top: 0;
                    }
                }
            }
        }

        & .intro-text { margin-top:30px; }
    }

}

.news-wrapper {

	 & .intro-text {
	 	margin:45px 0px 45px 0px;

	 	 @media handheld, screen and (min-width: $bp-desktop){
	 	 	margin:75px 0px 75px 0px;
	 	 }

	 }

	 & #social {
         float: none;
         margin-bottom: 10px;
         margin-top: 10px;
         @media handheld, screen and (min-width: $phone-breaks){
            float: right;
            margin-top: 0px;
            margin-bottom: 0px;
         }

         .news-share{
             display: none;
             @media handheld, screen and (min-width: $phone-breaks){
                display: inline;
             }
         }
     }


     & .news-date{
         padding-top: 5px;
         line-height: 1.3;
         width: 100%;

         @media handheld, screen and (min-width: $phone-breaks){
            line-height: 1;
            padding-top: 0;
            width: 50%;
         }
     }

     .author-name{
         clear: left;
         display: inline-block;

         @media handheld, screen and (min-width: $phone-breaks){
            clear: none;
            display: inline;
         }
     }

}

#carreers {
    .text-container{
        top: auto;
        transform: none;
    }
}

.container--no-padding{
    padding: 0px;
}


.container--carousel{
    background-size: cover;
    background-position: 50% 50%;
}

#iCap-carousel {
    background-position: 50% 97%;
}

.container--half-top{
    padding-top: percentage(120/2032);
}

.container--half-bot{
    padding-bottom: percentage(120/2032);
}



.container--no-top{
    padding-top: 0;
}

.container--half-both{
    padding: percentage(120/2032);
    text-align: center;
}

.text-container{
    position: relative;

	&.center { text-align:center; }

    footer & {
        top: 69%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        @media handheld, screen and (min-width: $bp-desktop){
            top: 55%;
        }

    }
    // top: 50%;
    // transform: translateY(-50%);
}

section{
    @extend %clearfix;

    @media handheld, screen and (min-width: $bp-desktop){
        &.text-section{
            position: relative;
            h2{
                float: left;
                width: 47%;
            }
            .text-section__para{
                float: right;
                width: 50%;
            }
        }
    }

    &.text-section--centre{
        text-align: center;

		h2, a { margin-top:0.5%; }
		h2 { margin-bottom:0; }
		a {
			margin-bottom:3%;
			@media handheld, screen and (min-width:0px)  and (max-width: $bp-desktop ) { font-family:$f-seroot-blck; }
		}



        h2,a{
            display: block;
            float: none;
            width: auto;
        }


    }
}
 /* Group container also can be used as a clearfix */
.group-container{
    @extend %clearfix;
    position: relative;
    // background: url('../images/tilt-logo.png') center no-repeat ;

    & + .text-section{
        margin-top: percentage(126/2032);
    }

    .group{
        @extend %clearfix;
        position: relative;

        width:50%;

        @media handheld, screen and (min-width:0px)  and (max-width: $bp-desktop ) {
       		width:100%;
        }

    }

    @media handheld, screen and (min-width: $bp-desktop){

        /*
.group{
            width: 50%;
        }
*/

        .group--left{
            float: left;
        }
        .group--right{
            float: right;
        }

    }

    .group--jobs {
	    width:100%;

        // a{
        //     @extend %clearfix;
        // }



	    @media handheld, screen and (min-width: $bp-desktop-large){
	    	width: 50%;
	    }



    }

    &.careers .group--left {
    	padding:0 3% 0 0;
    	& h1 {
    		display:block;
    		width:100%;
    		text-align:center;
	    	@include font-size(20);
			@media handheld, screen and (min-width: $bp-desktop){
				@include font-size(35);
			}
    	}

    }

    &.careers .group--right {
    	padding:0 0% 0 3%;
    	& h1 {
    		display:block;
    		width:100%;
    		text-align:center;
	    	@include font-size(20);
			@media handheld, screen and (min-width: $bp-desktop){
				@include font-size(35);
			}
    	}

    }


    &.careers .group--left h3, &.careers .group--right h3 { padding:5px 0px 10px 0px; }

	&.container--about-pad { padding:3% 0% 0% 0%; }

}

.quote-container{
    padding-left: percentage(383/2032);
    padding-right: percentage(383/2032);

	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone) {
		padding-left:9%;
		padding-right:9%;
	}

	@media handheld, screen and (min-width: $bp-phone)  and (max-width: $bp-desktop) {
		padding-left:7%;
		padding-right:7%;
	}

}

.wrapper .quote-container { background-color:$c-grey-25; }

.work-container{
    @extend %clearfix;
    background-color: $c-bg;
}

.group-container--light{
    background: url('../images/tilt-logo-light.png') center no-repeat ;
    background-color: white;
}

.group-container--no-bg{
    background-color: transparent;
    background-image: none;
}

.news-wrapper{
    max-width: 1270px;
    margin: 0px auto;
}

.news-container{
    @extend %clearfix;
    padding: 0  percentage(64/1270);

    &.news--footer { padding-bottom:5%; }

	.intro-text { opacity:0; }

}

.img-container{
    margin-bottom: -5px;
    img{
        height: 100%;
        width: 100%;
    }
}
