// html, body{
//     height: 100%;
// }

.wrapper{
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom: 687px;
    position: relative;
    background-color: $c-bg;
    z-index: 3;
    overflow: hidden;

    #contact & {
        margin-bottom: 0px;
    }
}

.wrapper--dark{
    background-color: $c-bg;
}

.wrapper--navved{
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(0.85, 0.85);
    margin-bottom: 0px;
    margin-top: -15%;
}

.worksheet-button-container{
    margin-top: 5%;
}

.container{
    @extend %clearfix;
    position: relative;
    padding: percentage(245/2032) percentage(127/2032);
    z-index: 1;
    background-color: white;

    #carreers & {
        padding: percentage(245/2032) percentage(381/2032);
    }

    #homePage & {
        background-color: transparent;
    }

    &.container--double-side-pad{
        padding: percentage(245/2032) percentage(375/2032);
    }

    &.image-container{
        font-size: 0;
        background-color: $c-grey-1b;
        img{
            height: 100%;
            width: 100%;
        }
    }



    #news &.container--header-news{
        
        padding: 0;
        opacity: 1 !important;
        
        .header-title{
            padding-top: percentage(55/1270);
            width: 100%;

            .tag{
                padding-bottom:0.5%;
            }
        }
        
        & .intro-text { margin-top:30px; }
    }
      
}

.news-wrapper {
	
	 & .intro-text { 
	 	margin:45px 0px 55px 0px; 
	 	
	 	 @media handheld, screen and (min-width: $bp-desktop){
	 	 	margin:45px 0px 75px 0px; 
	 	 }
	 	
	 }
	 
	 & #social { float:right; }
	
}

#carreers {
    .text-container{
        top: auto;
        transform: none;
    }
}

.container--no-padding{
    padding: 0px;
}

.container--newsvideo { 
	padding-top:40px;
	padding-bottom:40px; 
}

.container--carousel{
    background-size: cover;
    background-position: 50% 50%;
}

#iCap-carousel {
    background-position: 50% 97%;
}

.container--half-top{
    padding-top: percentage(120/2032);
}

.container--half-bot{
    padding-bottom: percentage(120/2032);
}



.container--no-top{
    padding-top: 0;
}

.container--half-both{
    padding: percentage(120/2032);
    text-align: center;
}

.text-container{
    position: relative;

    footer & {
        top: 58%;
        transform: translateY(-50%);
        @media handheld, screen and (min-width: $bp-desktop){
            top: 50%;
        }

    }
    // top: 50%;
    // transform: translateY(-50%);
}

section{
    @extend %clearfix;

    @media handheld, screen and (min-width: $bp-desktop){
        &.text-section{
            position: relative;
            h2{
                float: left;
                width: 50%;
            }
            .text-section__para{
                float: right;
                width: 50%;
            }
        }
    }

    &.text-section--centre{
        text-align: center;

        h2 + a{
            margin-top: 0.5%;
        }

        a + h2{
            margin-top: 3%;
        }

        h2,a{
            display: block;
            float: none;
            width: auto;
        }

        .contact-email{

        }
    }
}
 /* Group container also can be used as a clearfix */
.group-container{
    @extend %clearfix;
    position: relative;
    // background: url('../images/tilt-logo.png') center no-repeat ;

    & + .text-section{
        margin-top: percentage(126/2032);
    }

    .group{
        @extend %clearfix;
        position: relative;
    }
	
    @media handheld, screen and (min-width: $bp-desktop){
        
        .group{
            width: 50%;
        }

        .group--left{
            float: left;
        }
        .group--right{
            float: right;
        }

    }
    
    .group--jobs {
	    width:100%;
	    @media handheld, screen and (min-width: $bp-desktop-large){
	    	width: 50%;
	    }
    }

    &.careers .group--left {
    	padding:0 3% 0 0;
    	& h1 {
    		display:block;
    		width:100%;
    		text-align:center;
	    	@include font-size(20);
			@media handheld, screen and (min-width: $bp-desktop){
				@include font-size(35);
			}
    	}

    }

    &.careers .group--right {
    	padding:0 0% 0 3%;
    	& h1 {
    		display:block;
    		width:100%;
    		text-align:center;
	    	@include font-size(20);
			@media handheld, screen and (min-width: $bp-desktop){
				@include font-size(35);
			}
    	}

    }


    &.careers .group--left h3, &.careers .group--right h3 { padding:5px 0px 10px 0px; }

}

.quote-container{
    padding-left: percentage(383/2032);
    padding-right: percentage(383/2032);
}

.work-container{
    @extend %clearfix;
    background-color: $c-bg;
}

.group-container--light{
    background: url('../images/tilt-logo-light.png') center no-repeat ;
    background-color: white;
}

.group-container--no-bg{
    background-color: transparent;
    background-image: none;
}

.news-wrapper{
    max-width: 1270px;
    margin: 0px auto;
}

.news-container{
    @extend %clearfix;
    padding: 0  percentage(64/1270);
    
    &.news--footer { padding-bottom:5%; }
}

.img-container{
    margin-bottom: -5px;
    img{
        height: 100%;
        width: 100%;
    }
}
