html, body{
    height: 100%;
}

.wrapper{
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom: 687px;
    position: relative;
    background-color: white;
    z-index: 3;
    overflow: hidden;

    #contact & {
        margin-bottom: 0px;
    }
}

.wrapper--navved{
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(0.85, 0.85);
    margin-bottom: 0px;
    margin-top: -15%;
}

.container{
    @extend %clearfix;
    position: relative;
    padding: percentage(245/2032) percentage(127/2032);
    z-index: 1;
}

.container--no-padding{
    padding: 0px;
}

.container--carousel{
    margin-bottom: 60px;
}

.container--half-top{
    padding-top: percentage(120/2032);
}

.text-container{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

section{
    @extend %clearfix;

    @media handheld, screen and (min-width: $bp-desktop){
        &.text-section{

            h2{
                float: left;
                width: 50%;
            }
            .text-section__para{
                float: right;
                width: 50%;
            }
        }
    }

    &.text-section--centre{
        text-align: center;

        h2 + a{
            margin-top: 0.5%;
        }

        a + h2{
            margin-top: 3%;
        }

        h2,a{
            display: block;
            float: none;
            width: auto;
        }

        .contact-email{

        }
    }
}
 /* Group container also can be used as a clearfix */
.group-container{
    @extend %clearfix;
    position: relative;
    // background: url('../images/tilt-logo.png') center no-repeat ;
    // background-color: $c-bg;

    & + .text-section{
        margin-top: percentage(126/2032);
    }

    .group{
        @extend %clearfix;
        position: relative;
    }

    @media handheld, screen and (min-width: $bp-desktop){
        .group{
            width: 50%;
        }

        .group--left{
            float: left;
        }
        .group--right{
            float: right;
        }
    }
}

.group-container--light{
    background: url('../images/tilt-logo-light.png') center no-repeat ;
    background-color: white;
}

.group-container--no-bg{
    background-color: transparent;
    background-image: none;
}
