.contact-form{
    textarea{
        width: 100%;
    }

    input, textarea {

        border: 1px solid $c-grey-5e;
        background-color: $c-grey-25;
        padding: 10px;
        color: white;

        &:focus{
            border: 1px solid $c-tilt-pink;
        }
    }
}

.contact-form__fieldset{
    padding: 5%;
    background-color: $c-grey-25;
    color: white;
    position: relative;
    z-index: 2;

    & + & {
        margin-top: 60px;
    }
}

.contact-form__fieldset--completed{

    border-bottom: 1px solid $c-grey-5e;
        &:before{
            content: '';
            display: block;
            position: absolute;
            height: 62px;
            width: 1px;
            background-color: $c-grey-5e;
            bottom: -62px;
            left: 0;
            right: 0;
            margin: 0px auto;
            transition: all 0.5s ease;
            z-index: 1;
        }
}

.contact-form__label {
    display: block;

    & + * {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}

.contact-form__label--completed{

    & + input, & + textarea{
        background-color: $c-grey-2d;
    }


    &:after{
        content: '';
        height: 10px;
        width: 10px;
        background-color: $c-tilt-pink;
        display: inline-block;
    }
}

.funky-border-shizz{
    height: 1px;
    width: 100%;
    position: absolute;
    border: 1px solid $c-grey-5e;
    border-bottom: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 0.2s ease;
}

.form-info-holder{
    position: relative;
    z-index: 2;
}
