fieldset{
    padding: 5%;
    background-color: $c-grey-25;
    color: white;
    border: 1px solid $c-grey-5e;
    position: relative;

    & + & {
        margin-top: 60px;

        &:before{
            content: '';
            display: block;
            position: absolute;
            height: 64px;
            width: 1px;
            background-color: $c-grey-5e;
            top: -62px;
            left: 0;
            right: 0;
            margin: 0px auto;
            transition: all 0.5s ease;
        }
    }
}
