header{
    @extend %clearfix;
    background-color: grey;
    position: relative;
    min-height: 100vh;
    height: 100%;

    .container--header{
        padding-top: 0px;
        padding-bottom: 0px;
        transform: translate3d(0,0,0);
        transition: all 0.5s ease 1s;
    }

    &#sainsburys, &#pbs, &#alzheimers, &#bp-fll, &#icap, &#i360 {
	    min-height:auto;
		height:auto;

    }

    #header-play{
        opacity: 0;
        transition: opacity 0.5s ease;

        &.video-ready{
            opacity: 1;
        }
    }



    .header-title {
        h1, p{
            transform: translate3d(0,0,0);
            transition: all 0.5s ease 0.1s;
            opacity: 0;
        }

        p { letter-spacing:1px; }

        h1 {
	        line-height:1;
        }

        h2{
            transform: translate3d(0,0,0);
            transition: all 0.5s ease 0.3s;
            opacity: 0;
        }

        .underlined{
            &:after{
                width: 0px;
                transform: translate3d(0,0,0);
                transition: all 0.5s ease 0.5s;
            }
        }
        & + .header-text{
            margin-top: 20px;
        }

        &.no--shadow h1 { text-shadow:none; }
        &.no--shadow h2 { text-shadow:none; }
        &.no--shadow p { text-shadow:none; }

        img.awards {
	        position:absolute;
			top:-38px;
			left:6.25%;

        }


    }



    .header-text{
        transform: translate3d(0,0,0);
        transition: all 0.5s ease 1.9s;
        opacity: 0;
    }

    @media handheld, screen and (min-width: $bp-desktop){
        .header-title{
            & + .header-text{
                margin-top: 30px;
            }
        }
    }

    &.case-study{
        height: 100vh;
        overflow: hidden;
        .container--header{
            position: absolute;
            bottom: percentage(242/2032);
        }
    }

    &.work-item{

        .container--header{
            padding-bottom:6%;
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: transparent;
        }

        .monitor-wrapper + .container--header{
            position: relative;
            padding-top:3%;
        }

        @media handheld, screen and (min-width: $bp-desktop){

            .header-title{
                width: 50%;
                float: left;
            }

        }
    }

    &.work-item{
        .container--reel{
        	padding:0;
            position: absolute;
            bottom:56%;
            width: 100%;
            text-align:center;
            background-color: transparent;

            p {
	            font-family:$f-seroot-blck;
				@include font-size(33);

				@media handheld, screen and (min-width: $bp-desktop){
					@include font-size(65);
				}

            }

        }

        .header-title{
            width: 100%;
            float: left;
        }

        @media handheld, screen and (min-width: $bp-desktop-large){
            .header-title{
                width: 50%;
                float: left;
            }
        }
    }

    .header-play{
    		top:28%;

    	@media handheld, screen and (min-width: $bp-desktop){
        	top: 28%;
		}

    	@media handheld, screen and (min-width: $bp-desktop-large){
        	top: 28%;
		}
    }

    .header-play--casestudy {
	    top:44%;
    	@media handheld, screen and (min-width: $bp-desktop){
        	top: 44%;
		}
    }


    &.work-item--motion{

        .container--header{
            background-color:$c-grey-1b;
            position: absolute;
            bottom: 0;
            opacity: 0;
            padding: percentage(80/2032);

            &.container--work-list{

                @media handheld, screen and (min-width: $bp-desktop){
                    height: 68px;
                }

				@media handheld, screen and (min-width:0px)  and (max-width: $bp-desktop) {
					position:fixed;
					z-index:999;
					bottom:0;
				}

                margin: 0px auto;
                text-align: center;
                width: 100%;
                height:68px;
                padding: 0;
                opacity: 1 !important;
                transition:none;

            }

			&.sticky {
				position:fixed;
				z-index:999;

				@media handheld, screen and (min-width: $bp-desktop){ top:0; }
				@media handheld, screen and (min-width:0px)  and (max-width: $bp-desktop) { bottom:0; }

			}

			}





        .video-container{
            background-image: url('../images/video-placeholder.jpg');
            background-size: cover;
        }
    }

	.header-text{
        float: left;
        width: 100%;
    }

    @media handheld, screen and (min-width: $bp-desktop-large){
        .header-text{
            float: right;
            width: 50%;
        }

         .header-text__module{

             & + .header-text__module{
                 margin-top: 0;
             }

            float: left;
            width: 50%;
        }
    }

    h1 + h2{
        margin-top: 30px;
    }

    &.about-page {
        height: 31.3333%;
        min-height: 400px;
    }

    &#work-page{
        height: 80vh;
        min-height: 80vh;
    }

    .news-wrapper{
        @extend %clearfix;
        background-color: $c-bg;
    }


}


#work_page {

	.header-play{
    		top:44%;

    	@media handheld, screen and (min-width: $bp-desktop){
        	top: 44%;
		}

    	@media handheld, screen and (min-width: $bp-desktop-large){
        	top: 44%;
		}
    }

}


#services--list {
	display:block;
	@media handheld, screen and (min-width: $bp-desktop){
		display:block;
	}

}

.header-play{
    height:85px;
    width:85px;
    background-image: url('../images/play_button_v3.png');
    position: absolute;
    z-index: 6;
    cursor: pointer;
    left: 0px;
    right: 0px;
    margin: 0px auto;
}

.header-text__module{

    padding: 0%;
    @media handheld, screen and (min-width: $bp-desktop-large){
   		 padding: 0% 0% 0% 5%;
    }

    & + .header-text__module{
    		margin-top: 5%;
    	@media handheld, screen and (min-width: $bp-desktop-large){
        	margin-top: percentage(65/768);
        }
    }
}

.loaded {
    .container--header{
        transform: translate3d(0,0,0);
        opacity: 0.9 !important;
    }

    .header-title{
        h1, p, h2{
            transform: translate3d(0,0,0);
            opacity: 1;
        }

        .underlined{
            &:after{
                transform: translate3d(0,0,0);
                width: em(150,75);
            }
        }
    }

	.news-container .intro-text {
		transform: translate3d(0,0,0);
        transition: all 0.5s ease 0.4s;
        opacity: 1;
	}

	.news-container .header-title h1, .news-container .header-title p.tag {
		transform: translate3d(0,0,0);
        transition: all 0.5s ease 0.1s;
        opacity: 1;
	}

	.news-container .header-title h1 {

		&:after {
			transform: translate3d(0,0,0);
        transition: all 0.5s ease 0.7s;
        opacity: 1;
		}

	}

    .header-text{
        transform: translate3d(0,0,0);
         transition: all 0.5s ease 0.2s;
        opacity: 1;
    }

    .intro-text, h2.news-date {
	    transform: translate3d(0,0,0);
        transition: all 0.5s ease 0.2s;
        opacity: 1;
    }




}

#header-overlay{
    margin-top: -14vh;
    background: -moz-linear-gradient(top,  rgba(31,31,31,0.8) 0%, rgba(31,31,31,1) 32%, rgba(31,31,31,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,31,31,0.8)), color-stop(32%,rgba(31,31,31,1)), color-stop(100%,rgba(31,31,31,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(31,31,31,0.8) 0%,rgba(31,31,31,1) 32%,rgba(31,31,31,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(31,31,31,0.8) 0%,rgba(31,31,31,1) 32%,rgba(31,31,31,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(31,31,31,0.8) 0%,rgba(31,31,31,1) 32%,rgba(31,31,31,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(31,31,31,0.8) 0%,rgba(31,31,31,1) 32%,rgba(31,31,31,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1f1f1f', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-9 */
    opacity: 1 !important;

    &.container{
        padding:15% 17% 12% 15%;
    }

    .text-container{
        top: auto;
        position: relative;
        transform: none;
    }
}

#home-page{

    height: 115vh;

    @media handheld, screen and (min-width: $bp-desktop){

    }

    .first-para{
        &:before{
            height: 18px;
            width: 18px;
            background-color: $c-tilt-pink;
        }
    }

    &.container, .container{
        padding: percentage(245/2032) percentage(381/2032);
    }

    .strapline-container{
        position: absolute;
        padding: percentage(245/2032) 15% ;
        top: 20%;
        background-color: transparent;

    }
}

#work_page{
    height:84vh;
    min-height:84%;
}


.nav-icons{
    @extend %clearfix;
    margin-bottom: 2%;
    position:relative;
    width:85%;
    top:85%;
    left:7%;

    & .telephone{
        float: left;
        font-size: 1.3rem;
        color: white;
        margin-top:0px;
        clear: both;
        font-family: $f-merriweather;
        font-weight: 300;
        @media handheld, screen and (min-width: $bp-desktop){
            float: right;
            clear: none;
            margin-top:0px;
            font-size: 1.6em;
        }

    }

}

.nav-icon{
    float: left;

    a{
        height: 100%;
        width: 100%;
        display: block;
    }

    & + .nav-icon{
        margin-left: 15px;
    }

    @media handheld, screen and (min-width: $bp-desktop){
        & + .nav-icon{
            margin-left: 35px;
        }
    }


}

#nav-icon-1{
	height:23px;
    width:11px;
    background:url('../images/facebook.png') 0px 0px no-repeat;
}

#nav-icon-2{
	margin-top:3px;
    height:19px;
    width:25px;
    background:url('../images/twitter.png') 0px 0px no-repeat;
}

#nav-icon-3{
	margin-top:1px;
    height:21px;
    width:24px;
    background:url('../images/vimeo.png') 0px 0px no-repeat;
}

#nav-icon-4{
    height:23px;
    width:23px;
    background:url('../images/instagram.png') 0px 0px no-repeat;
}

#nav-icon-5{
	margin-top:1px;
    height:21px;
    width:29px;
    background:url('../images/youtube.png') 0px 0px no-repeat;
}

#nav-icon-6{
    height:25px;
    width:25px;
    background:url('../images/bakery.png') 0px 0px no-repeat;
}

.nav-icons .telephone {
	float:right;
}
