header{
    @extend %clearfix;
    background-color: grey;
    position: relative;
    min-height: 100vh;
    height: 100%;

    .container--header{
        padding-top: 0px;
        padding-bottom: 0px;
        transform: translate3d(0,0,0);

        transition: all 0.5s ease 1s;
    }

    .header-title{
        h1, p{
            transform: translate3d(0,0,0);
            transition: all 0.5s ease 1.5s;
            opacity: 0;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
        }
        h2{
            transform: translate3d(0,0,0);
            transition: all 0.5s ease 1.7s;
            opacity: 0;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
        }
        .underlined{
            &:after{
                width: 0px;
                transform: translate3d(0,0,0);
                transition: all 0.5s ease 2s;
            }
        }
        & + .header-text{
            margin-top: 20px;
        }
    }

    .header-text{
        transform: translate3d(0,0,0);
        transition: all 0.5s ease 1.9s;
        opacity: 0;
    }

    @media handheld, screen and (min-width: $bp-desktop){
        .header-title{
            & + .header-text{
                margin-top: 0px;
            }
        }
    }

    &.case-study{
        height: 100vh;
        overflow: hidden;
        .container--header{
            position: absolute;
            bottom: percentage(242/2032);
        }
    }

    &.work-item{
        .container--header{
            padding-bottom: percentage(50/2032);
            position: absolute;
            bottom: 0;
            width: 100%;
        }
        @media handheld, screen and (min-width: $bp-desktop){
            .header-title{
                width: 50%;
                float: left;
            }
        }
    }
    
    &.work-item{
        .container--reel{
        	padding:0;
            position: absolute;
            bottom:20%;
            width: 100%;
            text-align:center;
            
            p {
	            font-family: $f-seroot-thn;
				@include font-size(45);
				letter-spacing:15px;
            }
           
        }
        @media handheld, screen and (min-width: $bp-desktop){
            .header-title{
                width: 50%;
                float: left;
            }
        }
    }
    
    
    &.work-item--motion{
        .container--header{
            background-color: #202020;
            position: absolute;
            bottom: 0;
            opacity: 0;
            padding: percentage(80/2032);
            &.container--work-list{
                @media handheld, screen and (min-width: $bp-desktop){
                    height: 68px;
                }
                    margin: 0px auto;
                    text-align: center;
                    width: 100%;
                    height: 250px;
                    padding: 0;
                    opacity: 1 !important;
                }
        }
        .video-container{
            background-image: url('../images/video-placeholder.jpg');
            background-size: cover;
        }
    }

    @media handheld, screen and (min-width: $bp-desktop){
        .header-text{
            float: right;
            width: 50%;
        }

         .header-text__module{
             & + .header-text__module{
                 margin-top: 0;
             }
            float: left;
            width: 50%;
        }
    }

    h1 + h2{
        margin-top: 30px;
    }

    .header-play{
        height: 102px;
        width:102px;
        background-image: url('../images/play_button.png');
        position: absolute;
        z-index: 6;
        cursor: pointer;
        top: 44%;
        left: 0px;
        right: 0px;
        margin: 0px auto;
    }

    &.contact-page{
        height: 31.3333%;
        min-height: 400px;
    }

    &#work-page{
        height: 80vh;
        min-height: 80vh;
    }

    .news-wrapper{
        @extend %clearfix;
        background-color: $c-bg;
    }
}

.header-text__module{
    padding: 0% 4%;
    & + .header-text__module{
        margin-top: percentage(65/768);
    }
}

.loaded {
    .container--header{
        transform: translate3d(0,0,0);
        opacity: 0.9 !important;
    }

    .header-title{
        h1, p, h2{
            transform: translate3d(0,0,0);
            opacity: 1;
        }

        .underlined{
            &:after{
                transform: translate3d(0,0,0);
                width: em(150,75);
            }
        }
    }

    .header-text{
        transform: translate3d(0,0,0);
        opacity: 1;
    }
}

#header-overlay{
    margin-top: -12%;
    background: -moz-linear-gradient(top,  rgba(31,31,31,0.8) 0%, rgba(31,31,31,1) 32%, rgba(31,31,31,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(31,31,31,0.8)), color-stop(32%,rgba(31,31,31,1)), color-stop(100%,rgba(31,31,31,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(31,31,31,0.8) 0%,rgba(31,31,31,1) 32%,rgba(31,31,31,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(31,31,31,0.8) 0%,rgba(31,31,31,1) 32%,rgba(31,31,31,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(31,31,31,0.8) 0%,rgba(31,31,31,1) 32%,rgba(31,31,31,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(31,31,31,0.8) 0%,rgba(31,31,31,1) 32%,rgba(31,31,31,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc1f1f1f', endColorstr='#1f1f1f',GradientType=0 ); /* IE6-9 */
    opacity: 1 !important;

    &.container{
        padding: percentage(245/2032) percentage(381/2032);
    }

    .text-container{
        top: auto;
        position: relative;
        transform: none;
    }
}

#home-page{

    height: 120vh;

    @media handheld, screen and (min-width: $bp-desktop){

    }

    .first-para{
        &:before{
            height: 18px;
            width: 18px;
            background-color: $c-tilt-pink;
        }
    }

    &.container, .container{
        padding: percentage(245/2032) percentage(381/2032);
    }

    .strapline-container{
        position: absolute;
        top: 20%;
        background-color: transparent;
    }
}

#work_page{
    height: 87vh;
    min-height: 87%;
}
