nav{
    @extend %clearfix;
}

.header-item{
    position: fixed;
    z-index: 6;
    will-change: transform;
}

.header-item--logo{
    margin-left:30px;
    margin-top:17px;

    img{
        height: 30px;
    }
}

.header-item--menu, #workButton{
    right: 0;
    cursor: pointer;
    margin-right:30px;
    margin-top:25px;
}

#menuButton {
	display:block;
	padding-top:21px;
	width:28px;
	height:0;
	background:url('../images/menu-burger_v3.png') 0 0 no-repeat;
	overflow:hidden;
	cursor:pointer;
}

a#menuButton:hover { background:url('../images/menu-burger_v3.png') 0px -24px no-repeat; }

#closeButton {
	display:none;
	right:10px;
	cursor:pointer;
	margin-right:25px;
    margin-top:25px;
	padding-top:19px;
	width:19px;
	height:0;
	background:url('../images/close_btn.png') 0 0 no-repeat;
	overflow:hidden;
	cursor:pointer;
}

a#closeButton:hover { background:url('../images/close_btn.png') 0px -19px no-repeat; }


#workButton{
	display:block;
	padding-top:19px;
	width:21px;
	height:0;
	background:url('../images/work-burger_v5.png') 0 0 no-repeat;
	overflow:hidden;
	cursor:pointer;
    right:40px;
    margin-top:25px;
}

a#workButton:hover { background:url('../images/work-burger_v5.png') 0px -19px no-repeat; }


.menu{
    height: 100vh;
    width: 100%;
    background-color: $c-tilt-pink;
    background-size: cover;
    position: fixed;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.5, 1.5);
    transition: opacity 0.75s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.menu__items{
    @extend %clearfix;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    text-align: center;

    .menu__item{
        display: block;

        & + .menu__item {
            margin-top: 20px;
            
            @media handheld, screen and (min-width:0px) and (max-width:$phone-breaks) { margin-top:8px; }
            @media handheld, screen and (min-width:$phone-breaks) and (max-width:$bp-phone) { margin-top:15px; }
        }

        a{
            color: white;
            padding-bottom: 15px;
            font-family:$f-seroot-thn;
            
            @media handheld, screen and (min-width:0px)  and (max-width: $bp-desktop ) {
				display:block;
				padding-bottom: 10px;
			}

            &:after{
                content: "";
                display: block;
                width: 0px;
                height: 2px;
                background-color: white;
                transition: width 0.3s;
                margin: 0 auto;
                margin-top: 5px;
            }

            &:hover{
                &:after{
                    width: 15%;
                    @media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) {
						width: 22%;	
					}
					
					@media handheld, screen and (min-width:$bp-phone)  and (max-width: $bp-desktop ) {
						width: 12%;	
					}
					
                }
            }
        }
    }

    @media handheld, screen and (min-width: $bp-desktop-large){
        .menu__item{
            display: inline-block;

            & + .menu__item{
                margin-left: 40px;
                margin-bottom: 0px;
            }

            a{
                &:hover{
                    &:after{
                        width: 100%;
                    }
                }
            }
        }

    }
}

.work-item-title{
    display: inline-block;
    cursor: pointer;
    text-transform: uppercase;
    padding-top: 26px;
    font-family:$f-seroot-thn;
    letter-spacing:1px;
    margin-right:50px;

    @media handheld, screen and (min-width: $bp-desktop){
    	width: 150px;
        display: inline-block;
    }

    @include font-size(19);
    @media handheld, screen and (min-width:0px) and (max-width: $bp-phone) { 
    	margin-right:10px;
    	@include font-size(14); 
    }
    
    
	@media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) { 
		margin-right:30px;
		@include font-size(20); 
	}
	
    &:hover{ color: $c-tilt-pink2; }

    &:after {
	    content:" ";
	    margin-top:3px;
	 	height:2px;
	 	display:block;
	 	content:" ";
	 	width:0;
        transform: translate3d(0,0,0);
        background-color:$c-tilt-pink2;
    }

}

span#work_all { 
	width:40px;
	
	 
	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) { 
		width:30px; 
		margin-left:0;	
	}
	
	@media handheld, screen and (min-width:$bp-phone)  and (max-width:$bp-desktop) { width:38px; }
    
    &.work-item--selected {

		 &:after {
		    transition: all 0.5s ease;
		 	width:38px;
		 	
		 	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) {
			 	width:25px;
			 	margin-left:2px;
			}
			
			@media handheld, screen and (min-width:$bp-phone)  and (max-width:$bp-desktop) { 
				width:35px; 
				margin-left:0px;	
			}
			
		 }

		 &:hover {

			&:after {
			 	transition: all 0.5s ease;
			 	width:38px;
			 	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) {
			 		width:25px;
			 		margin-left:2px;
			 	}
			 	
			 	@media handheld, screen and (min-width:$bp-phone)  and (max-width:$bp-desktop) { 
					width:35px; 
					margin-left:0px;	
				}
			 	
			}

		}

	}
    
}

span#work_film { 
	width:50px;
	
	 
	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) { 
		width:37px; 
		margin-left:0;	
	}
	
	@media handheld, screen and (min-width:$bp-phone)  and (max-width:$bp-desktop) { width:48px; }
	
	&.work-item--selected {

		 &:after {
		 	transition: all 0.5s ease;
		 	width:50px;
		 	
		 	@media handheld, screen and (min-width:0px) and (max-width: $bp-phone ) {
			 	width:33px;
			 	margin-left:1px;
			}
			
			@media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) { 
				width:47px; 
				margin-left:0px;	
			}
			
		 }

	}

	&:hover {

		&:after {
		 	transition: all 0.5s ease;
		 	width:50px;
		 	@media handheld, screen and (min-width:0px) and (max-width: $bp-phone ) {
			 	width:33px;
			 	margin-left:1px;
			}
			
			@media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) { 
				width:47px; 
				margin-left:0px;	
			}
			
		}

	}
	
}

span#work_interactive { 
	width:130px;
	
	
	 
	@media handheld, screen and (min-width:0px) and (max-width: $bp-phone) { 
		width:97px; 
		margin-left:0;	
	}
	
	@media handheld, screen and (min-width:$bp-phone)  and (max-width:$bp-desktop) { width:130px; }
	
	&.work-item--selected {

		 &:after {
		 	transition: all 0.5s ease;
		 	width:130px;
		 	
		 	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) {  
			 	width:94px;
			 	margin-left:1px;
		 	}
		 	
		 	@media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) { 
				width:131px; 
				margin-left:0px;	
			}
		 	
		 }

	}

	&:hover {

		&:after {
		 	transition: all 0.5s ease;
		 	width:130px;
		 	
		 	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) { 
		 		width:94px;
			 	margin-left:1px;
		 	}
		 	
		 	@media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) { 
				width:131px; 
				margin-left:0px;	
			}
		 	
		}

	}
	
}

span#work_motion { 
	width:83px;
	
	 
	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) { 
		width:62px; 
		margin-left:0;	
	}
	
	@media handheld, screen and (min-width:$bp-phone)  and (max-width:$bp-desktop) { width:83px; }
	
	&.work-item--selected {

		 &:after {
		 	transition: all 0.5s ease;
		 	width:81px;
		 	
		 	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) { 
		 		width:60px;
			 	margin-left:1px;
		 	}
		 	
		 	@media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) { 
				width:80px; 
				margin-left:0px;	
			}
		 	
		 }

	}

	&:hover {

		&:after {
		 	transition: all 0.5s ease;
		 	width:81px;
		 	
		 	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) { 
		 		width:60px;
			 	margin-left:1px;
		 	}
		 	
		 	@media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) { 
				width:80px; 
				margin-left:0px;	
			}
		 	
		}

	}

	
}

span#work_web { 
	width:47px; 
	
	
	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) {
        width:35px;
        margin-right:0;
        margin-left:0;	
    }
    
    @media handheld, screen and (min-width:$bp-phone)  and (max-width:$bp-desktop) { width:47px; }
    
    &.work-item--selected {

		 &:after {
		 	transition: all 0.5s ease;
		 	width:45px;
		 	
		 	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) { 
		 		width:33px;
			 	margin-left:1px;
		 	}
		 	
		 	@media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) { 
				width:46px; 
				margin-left:0px;	
			}
		 	
		 }

	}

	&:hover {

		&:after {
		 	transition: all 0.5s ease;
		 	width:45px;
		 	
		 	@media handheld, screen and (min-width:0px)  and (max-width: $bp-phone ) { 
		 		width:33px;
			 	margin-left:1px;
		 	}
		 	
		 	@media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) { 
				width:46px; 
				margin-left:0px;	
			}
		 	
		}

	}
    
}

#services--list span.work-item--selected { color: $c-tilt-pink2; }

