nav{
    @extend %clearfix;
}

.header-item{
    position: fixed;
    z-index: 6;
    will-change: transform;
}

.header-item--logo{
    margin-left: 20px;
    margin-top: 20px;

    img{
        height: 36px;
    }
}

.header-item--menu, #workButton{
    right: 0;
    cursor: pointer;
    margin-right: 20px;
    margin-top: 20px;
}

#menuButton {
	display:block;
	padding-top:24px;
	width:34px;
	height:0;
	background:url('../images/menu-burger_v2.png') 0 0 no-repeat;
	overflow:hidden;
	cursor:pointer;
}

a#menuButton:hover { background:url('../images/menu-burger_v2.png') 0px -26px no-repeat; }


#workButton{
	display:block;
	padding-top:24px;
	width:27px;
	height:0;
	background:url('../images/work-burger_v2.png') 0 0 no-repeat;
	overflow:hidden;
	cursor:pointer;
    right: 50px;
    margin-top:20px;
}

a#workButton:hover { background:url('../images/work-burger_v2.png') 0px -24px no-repeat; }


.menu{
    height: 100vh;
    width: 100%;
    background: url('../images/menu_background_smoke.jpg');
    background-size: cover;
    position: fixed;
    z-index: 4;
    opacity: 0;
    visibility: hidden;
    transform: scale(1.5, 1.5);
    transition: opacity 0.75s cubic-bezier(0.19, 1, 0.22, 1) 0.2s, transform 0.5s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
}

.menu__items{
    @extend %clearfix;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    margin: 0 auto;
    text-align: center;

    .menu__item{
        display: block;

        & + .menu__item {
            margin-top: 20px;
        }

        a{
            color: white;
            padding-bottom: 15px;
            &:after{
                content: "";
                display: block;
                width: 0px;
                height: 2px;
                background-color: white;
                transition: width 0.3s;
                margin: 0 auto;
                margin-top: 5px;
            }
            &:hover{
                &:after{
                    width: 15%;
                }
            }
        }
    }

    @media handheld, screen and (min-width: $bp-desktop-large){
        .menu__item{
            display: inline-block;

            & + .menu__item{
                margin-left: 40px;
                margin-bottom: 0px;
            }

            a{
                &:hover{
                    &:after{
                        width: 100%;
                    }
                }
            }
        }

    }
}

.work-item-title{
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding-top: 24px;
    @media handheld, screen and (min-width: $bp-desktop){
            width: 150px;
            display: inline-block;
    }

    @include font-size(19);
    &:hover{
        color: $c-tilt-pink2;
    }
}

span#work_all { width:60px; }
span#work_film { width:150px; }
span#work_iteractive { width:160px; }
span#work_motion { width:140px; }
span#work_web { width:90px; }

#services--list span.work-item--selected { color: $c-tilt-pink2; }
