/*
.safari .module .module__text {
	top: 25%;
    transform: none;
}
*/

.module{
    transform: scale(0.7, 0.7);
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    position: relative;
    transition: all 0.5s ease;

    &.module--dark{
        background-color: $c-grey-25;
        h2, p{
            color: white;
        }
    }
    
    &.module--dark-mobile {  
	     @media handheld, screen and (min-width:0px) and (max-width:$bp-desktop) { background-color:$c-bg; } 
    }
        
    &.module--dark-mobile-news {  
	     @media handheld, screen and (min-width:0px) and (max-width:$bp-desktop) { background-color:$c-grey-25; } 
    }

    .module__text{
        position: absolute;
        top: 50%;
        transform:translateY(-50%);
        -webkit-transform: translateY(-50%);
        padding: 0 12%;
		
		
		
        p.first-para { margin:20px 0px 0px 0px; }
        
        p {
	         @media handheld, screen and (min-width:0px) and (max-width:$bp-phone) {
	         	font-size:14px;
	         }
	         
	         @media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
	         	font-size:16px;
	         }
	         
        }
        
       
       
    }

    .home--tweet {
        width:100%;

    }

    &:hover{
        .overlay{
            opacity: 1;
        }
    }

    .ratio{
        transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
        transform: scale(1);
    }

    a, a.hover {
        &:hover .ratio{
            transform: scale(1.05);
        }
    }


    &.module--staff:hover .ratio{
        transform: scale(1);
    }

    &.module--job{
        text-align: center;
        background-color: $c-bg;
        width: 100%;
        padding-top: 100%;


        @media handheld, screen and (min-width: $bp-desktop){
            width: 50%;
            padding-top: 50%;

        }

        @media handheld, screen and (min-width: $job-breaks)  and (max-width: $bp-desktop ) {
             width: 50%;
        }

        @media handheld, screen and (min-width:0px)  and (max-width: $job-breaks ) {
             width: 100%;
        }





		.module__text {

            @media handheld, screen and (min-width:0px)  and (max-width: $bp-desktop ) {
                padding: 0;
            }


			p#web-career--sprite, p#motion-career--sprite, p#film-career--sprite, p#admin-career--sprite, p#dev-career--sprite {
				display:block;
				margin:auto;
				padding:98px 0px 0px 0px;
				height:0;
				width:144px;
				overflow:hidden;
				text-align:center;

				@media handheld, screen and (min-width: $bp-phone)  and (max-width: $bp-desktop ) {
					padding:196px 0px 0px 0px;
					width:288px;
				}

			}

			p#web-career--sprite {
				background: url('../images/careers/icon_careers_design_active.png') center 0% no-repeat;

				@media handheld, screen and (min-width: $bp-phone)  and (max-width: $bp-desktop ) {
					background: url('../images/careers/icon_lg/icon_careers_design_active.png') center 0% no-repeat;
				}

			}

			p#motion-career--sprite {
				background: url('../images/careers/icon_careers_motion_active.png') center 0% no-repeat;

				@media handheld, screen and (min-width: $bp-phone)  and (max-width: $bp-desktop ) {
					background: url('../images/careers/icon_lg/icon_careers_motion_active.png') center 0% no-repeat;
				}

			}

			p#film-career--sprite {
				background: url('../images/careers/icon_careers_motion_active.png') center 0% no-repeat;
				@media handheld, screen and (min-width: $bp-phone)  and (max-width: $bp-desktop ) {
					background: url('../images/careers/icon_lg/icon_careers_motion_active.png') center 0% no-repeat;
				}
			}

			p#admin-career--sprite {
				background: url('../images/careers/icon_careers_admin_active.png') center 0% no-repeat;
				@media handheld, screen and (min-width: $bp-phone)  and (max-width: $bp-desktop ) {
					background: url('../images/careers/icon_lg/icon_careers_admin_active.png') center 0% no-repeat;
				}
			}

			p#dev-career--sprite {
				background: url('../images/careers/icon_careers_developer_active.png') center 0% no-repeat;
				@media handheld, screen and (min-width: $bp-phone)  and (max-width: $bp-desktop ) {
					background: url('../images/careers/icon_lg/icon_careers_developer_active.png') center 0% no-repeat;
				}
			}

		}


        h2 + p {
            padding-top: 2%;
        }

        h2{

            color: $c-tilt-pink;
            @include font-size(25);


        }
        &:hover{
            background-color: $c-tilt-pink;

            h2{
                color: white;
            }
        }



    }

    & .module__description{
        height: 100%;
        bottom: 0px;
        top: auto;
        transform: none;
        padding: 0;
        left: 0;
        right: 0;
        margin: 0px auto;

        img{
            width: 65%;
            padding-bottom: 7.5%;
            padding-top: 7.5%;

			&.careers--img { width:50%; }

        }

        .careers & {  @extend %clearfix; }
        /* .careers & { margin:0 0 50px 0; } */

    }

    &.module--no-bg{
        background-color: transparent;
    }

    &.module--no-zoom{
         .ratio{
             &:hover{
                transform: none;
            }
         }
     }

}

.module--visible{
    transform: scale(1);
    visibility: inherit;
    opacity: 1;
}

.module--2-1{
    width: 100%;
    padding-top: 50%;
;
    clear: left;
}

.module--16-9{
    width: 100%;
    clear: left;
    padding-top: 56%;
}

.module--16-5{
    width: 100%;
    clear: left;
    padding-top: 31.33333%;
    min-height: 400px;

	& #about-page--video { object-fit:cover; }
	
}

.module--1-1{
    width: 50%;
    padding-top: 50%;
    background-color: $c-bg;
    float: left;
}

#module-other{
    background-color: yellow;
}

.module--2-2{
    width: 100%;
    padding-top: 100%;
    float: left;

	&.careers--image { padding-top:90%; }

}



.module--staff{
    width: 50%;
    padding-top: 50%;
    height: 1px;
    float: left;

    @media handheld, screen and (min-width: $bp-desktop){

        width: 25%;
        padding-top: 25%;

    }
}

.module--staff__director{
    width: 100%;
    padding-top: 100%;
    height: 1px;
    background-color: #CCCCCC;
    float: left;

    @media handheld, screen and (min-width: $bp-desktop){
        width: 33.33333%;
        padding-top: 33.33333%;
    }
}

.ratio{
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-size: cover;
}

#instagram_link_1, #instagram_link_2, #instagram_link_3, #instagram_link_4 {
    &:after{
        content:"";
        height:23px;
        width:23px;
        position: absolute;
        background-image: url('../images/instagram_transparent.png');
        opacity: 0.8;
        bottom: 20px;
        right: 20px;
    }
}

.news--icon {
	&:after{
        content:"";
        height:25px;
        width:24px;
        position: absolute;
        background-image: url('../images/news_icon.png');
        opacity: 0.8;
        bottom: 20px;
        right: 20px;
    }
}


.module--video{
    overflow: hidden;
    @extend %clearfix;

    .ratio{
        &:hover{
           transform: none;
       }
    }

    video{
        &:hover{
            transform: none;
        }
    }

    video{
        position: absolute;
        top: -9999px;
        right: -9999px;
        bottom: -9999px;
        left: -9999px;
        display: block;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        margin: auto;
        transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
        transform: scale(1);
        overflow: hidden;

        header & {

            position: absolute;
            top: -9999px;
            right: -9999px;
            bottom: -9999px;
            left: -9999px;
            display: block;
            min-width: 100%;
            height: auto;
            min-height: 100%;
            margin: auto;
            width: 100%;

            &:hover{
                transform: none;
            }

        }
    }

    &.module--staff{
        cursor: pointer;
        video{
            height: 100%;
            width: 100%;
            &:hover{
                transform: scale(1);
            }
        }
    }

}

.overlay{
    font-size: 1em;
    position:absolute;
    background-color: rgba(32,32,32,0.7);
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlay-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 0 percentage(126/1016);
}

.overlay--staff{
    border-bottom: 10px solid $c-tilt-pink;

    background-color: rgba(0,0,0,0.5);

    & h2.underlined{
        margin-bottom:0px;
        &:after{
            width: em(300,75);
        }
    }

    .overlay-text{
        left: 0px;
        top: 51%;
    }
}

.fullpage-overlay{
    display: none;
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 9999;

    video{
        display: block;
        margin: 0px auto;
        width: 100%;
        max-height: 100vh;
        cursor:pointer;
    }
}

.module--image{
    padding-top: 0px;
}

.module--text-pad{
    padding-top: 100%;
    @media handheld, screen and (min-width: $bp-desktop){
        padding-top: 50%;
    }

	&.module--mobile-double-height {
	    @media handheld, screen and (min-width:0px) and (max-width:$bp-phone) { padding-top: 125% } 
    }

}

#staff-member{
    transition: all 0.5s ease;
    display: none;
}

#staff-member__close{
    position:absolute;
    cursor:pointer;
	top:25px;
	right:25px;
	padding-top:19px;
	width:19px;
	height:0;
	background:url('../images/close_btn.png') 0 0 no-repeat;
	overflow:hidden;
	cursor:pointer;
    z-index: 7;
    opacity:0;


    &:hover {
	    background:url('../images/close_btn.png') 0px -19px no-repeat;
    }

}







#staff-member__info{
    overflow: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 100%;
    width: 100%;
    float: right;
	padding:7% 5% 0% 0%;

    @media handheld, screen and (min-width: $bp-desktop){

    	width: 50%;

    }

}

#staff-member__wrapper{
    @extend %clearfix;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#video-overlay-close {
    padding:67px 0px 0px 0px;
    height:0;
    width: 68px;
    background:url('../images/close_btn_video.png') 0px 0px no-repeat;
    margin: 0px auto;
    position: absolute;
    top:0px;
    right:0px;
    text-align: center;
    cursor: pointer;
    z-index: 7;

    &:hover {
    	background:url('../images/close_btn_video.png') 0px -67px no-repeat;
    }

    & p {
	    font-family: $f-seroot;
    }
}
