.module{
    transform: scale(0.7, 0.7);
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    position: relative;
    transition: all 0.5s ease;
    &.module--dark{
        background-color: $c-grey-25;
        h2, p{
            color: white;
        }
    }
    .module__text{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 0 percentage(126/1016);
    }

    &:hover{
        .overlay{
            opacity: 1;
        }
    }

    .ratio{
        transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
        transform: scale(1);
    }

    a {
        &:hover .ratio{
            transform: scale(1.05);
        }
    }


    &.module--staff:hover .ratio{
        transform: scale(1);
    }

    &.module--job{
        text-align: center;
        background-color: $c-bg;

        h2 + p {
            padding-top: 2%;
        }

        h2{
            color: $c-tilt-pink;
        }
        &:hover{
            background-color: $c-tilt-pink;

            h2{
                color: white;
            }
        }
    }

    & .module__description{
        height: 100%;
        bottom: 0px;
        top: auto;
        transform: none;
        padding: 0;
        left: 0;
        right: 0;
        margin: 0px auto;

        img{
            width: 65%;
            padding-bottom: 7.5%;
            padding-top: 7.5%;
        }
    }

    &.module--no-bg{
        background-color: transparent;
    }

    &.module--no-zoom{
         .ratio{
             &:hover{
                transform: none;
            }
         }
     }
}

.module--visible{
    transform: scale(1);
    visibility: inherit;
    opacity: 1;
}

.module--2-1{
    width: 100%;
    padding-top: 50%;
    background-color: blue;
    clear: left;
}

.module--16-9{
    width: 100%;
    clear: left;
    padding-top: 56%;
}

.module--16-5{
    width: 100%;
    clear: left;
    padding-top: 31.33333%;
    min-height: 400px;
}

.module--1-1{
    width: 50%;
    padding-top: 50%;
    background-color: $c-bg;
    float: left;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#module-other{
    background-color: yellow;
}

.module--2-2{
    width: 100%;
    padding-top: 100%;
    background-color: green;
}

.module--staff{
    width: 50%;
    padding-top: 50%;
    height: 1px;
    float: left;

    @media handheld, screen and (min-width: $bp-desktop){

        width: 25%;
        padding-top: 25%;

    }
}

.module--staff__director{
    width: 100%;
    padding-top: 100%;
    height: 1px;
    background-color: #CCCCCC;
    float: left;

    @media handheld, screen and (min-width: $bp-desktop){
        width: 33.33333%;
        padding-top: 33.33333%;
    }
}

.ratio{
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-size: cover;
}

.module--video{
    overflow: hidden;
    @extend %clearfix;

    .ratio{
        &:hover{
           transform: none;
       }
    }

    video{
        &:hover{
            transform: none;
        }
    }

    video{
        position: absolute;
        top: -9999px;
        right: -9999px;
        bottom: -9999px;
        left: -9999px;
        display: block;
        min-width: 100%;
        height: auto;
        min-height: 100%;
        margin: auto;
        transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
        transform: scale(1);
        overflow: hidden;

        header & {

            position: absolute;
            top: -9999px;
            right: -9999px;
            bottom: -9999px;
            left: -9999px;
            display: block;
            min-width: 100%;
            height: auto;
            min-height: 100%;
            margin: auto;

            &:hover{
                transform: none;
            }

        }
    }

    &.module--staff{
        cursor: pointer;
        video{
            height: 100%;
            width: 100%;
            &:hover{
                transform: scale(1);
            }
        }
    }

}

.overlay{
    font-size: 1em;
    position:absolute;
    background-color: rgba(32,32,32,0.7);
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlay-text{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 percentage(126/1016);
}

.overlay--staff{
    border-bottom: 10px solid $c-tilt-pink;

    background-color: rgba(0,0,0,0.5);

    & h2.underlined{
        margin-bottom: 20px;
        &:after{
            width: em(300,75);
        }
    }

    .overlay-text{
        bottom: 20px;
        left: 0px;
        top: auto;
    }
}

.module--image{
    padding-top: 0px;
}

#staff-member{
    transition: all 0.5s ease;
    display: none;
}

#staff-member__close{
    height: 30px;
    width: 30px;
    background-color: white;
    margin: 0px auto;
    position: absolute;
    top: 0;
    right: 20px;
    text-align: center;
    cursor: pointer;
    z-index: 7;
}

#staff-member__info{
    overflow: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
    height: 100%;
    width: 100%;
    float: right;

    @media handheld, screen and (min-width: $bp-desktop){

    width: 50%;

    }
}

#staff-member__wrapper{
    @extend %clearfix;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}
