.monitor-wrapper {
	&.codeit-monitor { padding-bottom:130px; }
}


.ipad {
	width: 40%;
	position:absolute;
	bottom:-10px;
	right:-20px;
	z-index:1000;
	@media handheld, screen and (min-width: $bp-desktop){
	    bottom:-20px;
	    right:-120px;
	}
}

.iphone {
	width:21%;
	position:absolute;
	bottom:-10px;
	right:-20px;
	z-index:1000;
	@media handheld, screen and (min-width: $bp-desktop){
	    bottom:-35px;
	    right:-75px;
	}
}

.monitor-holder{
    max-width: 768px;
    margin: 0px auto;
    position: relative;
    .monitor{
        position: relative;
        width: 100%;
        max-width: 768px;
        z-index: 2;
    }

    .overlay{
        margin: 0px auto;
        top: 4.9%;
        height: 67.5%;
        left: 3.5%;
        width: 93%;
    }

    &:hover{
        .overlay{
            opacity: 1;
        }
    }

    & + .text-section{
        margin-top: 8%;
    }
}

.monitor-screen{
    position: absolute;
    z-index: 1;
    top: 4%;
    left: 3.8%;
    height: 69.5%;
    width: 92.5%;
    overflow: hidden;
    background-color: darkorchid;

    video{
        height: 100%;
        width: 100%;
    }

    &.monitor-screen--video{
        z-index: 10;
    }
}

.mobile-holder{
    width: 33%;
    margin: 0px auto;
    position: relative;
    float: left;

    .mobile-phone{
        position: relative;
        z-index: 2;
        height: 100%;
        width: 90%;
    }
}

.mobile-screen{
    position: absolute;
    z-index: 1;
    background-color: goldenrod;
    top: 10%;
    right: 0;
    margin: 0px auto;
    height: 70%;
    width: 62.5%;
    left: -10%;

    img{
        height: 100%;
        width: 100%;
    }
}

header {

    .monitor-wrapper{
        padding-top:6%;
        
        @media handheld, screen and (min-width:$bp-phone) and (max-width:$bp-desktop) { padding-bottom:3%; }
        
    }
	
    .monitor-holder{
        z-index: 1;
        max-width: 40%;
		
		@media handheld, screen and (min-width: $bp-desktop){
			max-width: 38%;
		}
		
    }

    .monitor-screen{
        top: 4%;
        height: 69%;
        left: 3.5%;
        width: 93%;

        img{
            height: 100%;
            width: 100%;
        }
    }
}
