.monitor-holder{
    max-width: 768px;
    margin: 0px auto;
    position: relative;
    .monitor{
        position: relative;
        width: 100%;
        max-width: 768px;
        z-index: 2;
    }

    & + .text-section{
        margin-top: 8%;
    }
}

.monitor-screen{
    position: absolute;
    z-index: 1;
    top: 4%;
    left: 3.8%;
    height: 69.5%;
    width: 92.5%;
    overflow: hidden;
    background-color: darkorchid;
}

.mobile-holder{
    width: 33%;
    margin: 0px auto;
    position: relative;
    float: left;

    .mobile-phone{
        position: relative;
        z-index: 2;
        height: 100%;
        width: 100%;
    }
}

.mobile-screen{
    position: absolute;
    z-index: 1;
    background-color: goldenrod;
    top: 10%;
    left:0;
    right: 0;
    margin: 0px auto;
    height: 72%;
    width: 69%;
}

header {
    .monitor{
        padding-top: 5%;
    }
}
