nav{
    &.navigation{

    background-color: $c-tilt-pink;
    text-align: center;

    .nav-links{
        display: inline-block;
        }
    }
	
    .page-numbers{
        @include font-size(16);
    	letter-spacing:1px;
		color: white;
		font-family:$f-seroot-thn;
		
		@media handheld, screen and (min-width: $bp-desktop){
	    	 @include font-size(25);
		} 

        & + * {
            margin-left: 10px;
        }

        &.current, &.next, &.prev{
            color: white;
        }

        &.next {
            margin-left: 25px;
        }


    }

    h2{
        text-indent: -999999px;
        font-size: 0;
    }
}




.news-wrapper {
    .header-title{
        width: 100%;
    }

	.news--anim_one { 
		
		transition: all 0.5s ease 0.5s; 
	}
	
	#visual_content { margin-bottom:90px; }

}

#news{
    background-size: cover;
    height: 60vh;
    min-height: 60%;
    background-position: 50% 50%;
}


