.rotatingtweet p.rtw_meta,div.rtw_meta {
	display:none;
	@media handheld, screen and (min-width: $bp-desktop-large){
		display:none;
	}
}


.rotatingtweet .rtw_wide p.rtw_main {
	@include font-size(12);
	line-height:1.4;
	@media handheld, screen and (min-width: $bp-desktop-large){
		@include font-size(16);
	}
	
	@media handheld, screen and (min-width: $bp-phone)  and (max-width: $bp-desktop ) {
		@include font-size(20);
	}
	
	a { text-transform:none; }

}

p.rtw_main {
	font-family:$f-seroot-lt;	
}

.rotatingtweet a {
	color:$c-tilt-pink;

	&:hover { color:$c-grey-7d; }
}

.rtw_time_short a {
	@include font-size(13);
	font-family:$f-merriweather;
	font-weight:300;
	color:#d34262;
	letter-spacing:1px;
}


.news-container #social a.synved-social-provider-facebook, .news-container #social a.synved-social-provider-mail { margin-right:15px !important; }

#social h2.news-share {
	float:left;
	padding:0;
	margin-top:7px;
	margin-right:20px;
	font-family: $f-seroot-lt;
    color:$c-white;
    letter-spacing:1px;
    font-size:1em;
}
