public/wp-config.php
.sass-cache
.htaccess
node_modules
.DS_Store
public/wp-content/uploads/
public/wp-content/uploads/*
public/wp-content/themes/public/*
public/wp-content/cache/*
public/wp-content/advanced-cache.php
public/wp-content/wp-rocket-config/*

