html{
    height: 100%;
}
body{
    height: 100%;
}
#main {
    position: relative;
    z-index: 1;
}

.min-height_wrapper {
    min-height: 100vh;
    background: red;
}

.wrapper {
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom: 0;
    position: relative;
    background-color: $c-bg;
    z-index: 3;
    overflow: hidden;
    #contact & {
        margin-bottom: 0px;
    }
    &.wrapper--old-browser {
        margin-bottom: 0;
    }
    @media handheld,
    screen and (min-width: $bp-desktop) {
        margin-bottom: 645px;
    }
}

.password-wrapper {
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    margin-bottom: 0px;
    position: relative;
    background-color: #1f1f1f;
    z-index: 3;
    overflow: hidden;

    .custom-password-message {
        color: #ff4c74 !important;
        animation: shake 0.3s alternate;
        padding-top: 2px;
    }

    @keyframes shake {
        0% {
            transform: translateX(0px);
        }

        25% {
            transform: translateX(-5px);
        }
        75% {
            transform: translateX(5px);
        }
        100% {
            transform: translateX(0px);
        }
    }

}

.wrapper--dark {
    background-color: $c-bg;
}

.wrapper--navved {
    transition: all 0.2s cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(0.85, 0.85);
    margin-bottom: 0px;
    margin-top: -15%;
}

.worksheet-button-container {
    margin-top: 5%;
}

.container {
    @extend %clearfix;
    position: relative;
    padding: percentage(245/2032) percentage(127/2032);
    z-index: 1;
    background-color: white;
    #carreers & {
        padding: percentage(245/2032) percentage(381/2032);
    }
    &.container--double-side-pad {
        padding: percentage(245/2032) percentage(375/2032);
        &.contact--page {
            @media handheld,
            screen and (min-width: 0px) and (max-width: $bp-phone) {
                padding: 25% 10% 12% 10%;
            }
        }
        &.container--mobile-header-spacing {
            @media handheld,
            screen and (min-width: 0px) and (max-width: $bp-phone) {
                padding: 25% 9% 12% 9%;
            }
        }
        &.container--our-services {
            @media handheld,
            screen and (min-width: 0px) and (max-width: $bp-phone) {
                padding: 12% 9% 12% 9%;
            }
        }
    }
    &.container--mobile-careers {
        padding: 12% 12%;
        background-color: $c-grey-25;
        @media handheld,
        screen and (min-width: $bp-desktop) {
            padding: 0;
        }
    }
    &.container--work-pad {
        padding: percentage(60/2032) percentage(375/2032) percentage(100/2032) percentage(385/2032);
    }
    &.container--icap-pad {}
    &.image-container {
        font-size: 0;
        background-color: $c-grey-1b;
        img {
            height: 100%;
            width: 100%;
        }
    }
    &.about--smoke {
        background-image: url('../images/about/smoke_bg.jpg') 0px 0px no-repeat;
    }
    #news &.container--header-news {
        padding: 0;
        opacity: 1 !important;
        position: absolute;
        bottom: 0;
        .header-title {
            padding-top: percentage(55/1270);
            width: 100%;
            .tag {
                padding-bottom: 10px;
                margin-top: 8px;
                @media handheld,
                screen and (min-width: 0px) and (max-width: $bp-phone) {
                    padding-bottom: 10px;
                }
                @media handheld,
                screen and (min-width: $phone-breaks) {
                    padding-bottom: 10px;
                    margin-top: 0;
                }
            }
            h1 {
                line-height: 1.2;
                @media handheld,
                screen and (min-width: $phone-breaks) {
                    line-height: 1;
                }
                @media handheld,
                screen and (min-width:0px) and (max-width:$phone-breaks) {
                    line-height: 1;
                }
                @media handheld,
                screen and (min-width:$phone-breaks) and (max-width:$bp-phone) {
                    line-height: 1;
                }
                &:after {
                    margin-top: 10px;
                    @media handheld,
                    screen and (min-width: 0px) and (max-width: $phone-breaks) {
                        margin-top: 15px;
                    }
                    @media handheld,
                    screen and (min-width:$phone-breaks) and (max-width:$bp-phone) {
                        margin-top: 15px;
                    }
                    @media handheld,
                    screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
                        margin-top: 8px;
                    }
                }
            }
        }
        & .intro-text {
            margin-top: 30px;
        }
    }
    &.full-height-video {
        video {
            width: 100%;
            height: 100%;
        }
    }
}

/* Client logo container on work archive pages */
.new_client_logos {
    padding: 0px 5.56% 160px 5.56%;
    top: 60px;
    @media screen and (min-width: $bp-desktop) {
        padding: 80px 0 160px 0;
        top: 60px;

    }

    h2 {
        color: white;
        
        @media screen and (min-width: $bp-desktop) {
            text-align: center;
        }
    }
    .logos {
        text-align: center;
        img {
            width: 32%;
            @media screen and (min-width: $bp-desktop) {
                width: 19%;
            }
        }
    }
}

/* Showreel container for all work archive page */
.showreel {
    z-index: 6;
    position: relative;
    width: 100%;
    top: 0 ;
    @media screen and (min-width: $bp-desktop) {
        top: 74px ;
    }
    iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .embed-container {
        position: relative;
        padding-bottom: 54.55%;
        padding-top: 25px;
        height: 0;
    }
}


.news-wrapper {
    & #social {
        @media handheld,
        screen and (max-width: $bp-desktop) {
            margin-top: 10px;
            margin-bottom: 0px;
            opacity: 0;
        }
        .news-share {
            display: inline-block;
            @media handheld,
            screen and (min-width: $phone-breaks) {
                display: inline;
            }
        }
    }
    .social-scroll{
        @media screen and (min-width: $bp-desktop) {
            display: flex !important;
            position: fixed !important;
            top: 32.5%;
        }
    }
    & .news-date {
        padding-top: 15px;
        line-height: 1.3;
        width: 100%;
        display: inline-block;
        @media handheld,
        screen and (min-width: $phone-breaks) {
            line-height: 1;
            /*            padding-top: 0;*/
            width: 50%;
        }
    }
    .author-name {
        clear: left;
        display: inline-block;
        @media handheld,
        screen and (min-width: $phone-breaks) {
            clear: none;
            display: inline;
        }
    }
}

#carreers {
    .text-container {
        top: auto;
        transform: none;
    }
}

.container--no-padding {
    padding: 0px;
}

.container--carousel {
    background-size: cover;
    background-position: 50% 50%;
}

#iCap-carousel {
    background-position: 50% 97%;
}

.container--half-top {
    padding-top: percentage(120/2032);
}

.container--half-bot {
    padding-bottom: percentage(120/2032);
}

.container--no-top {
    padding-top: 0;
}

.container--half-both {
    padding: percentage(120/2032);
    text-align: center;
}

.text-container {
    &.center {
        text-align: center;
    }
    footer & {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        @media handheld, screen and (min-width: $bp-phone) {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            -webkit-transform: translateY(-50%);
        }
        } // top: 50%;
        // transform: translateY(-50%);
    }

    section {
        @extend %clearfix;
        @media handheld,
        screen and (min-width: $bp-desktop) {
            &.text-section {
                position: relative;
                h2 {
                    float: left;
                    width: 47%;
                }
                .text-section__para {
                    float: right;
                    width: 50%;
                }
            }
        }
        &.text-section--centre {
            text-align: center;
            h2,
            a {
                margin-top: 0.5%;
            }
            h2 {
                margin-bottom: 0;
            }
            a {
                margin-bottom: 3%;
                @media handheld,
                screen and (min-width: 0px) and (max-width: $bp-desktop) {
                    font-family: $f-seroot-blck;
                }
            }
            h2,
            a {
                display: block;
                float: none !important;
                width: auto !important;
            }
        }
    }


    /* Group container also can be used as a clearfix */

    .group-container {
        @extend %clearfix;
        position: relative; // background: url('../images/tilt-logo.png') center no-repeat ;
        z-index: 999999;
        &+.text-section {
            margin-top: percentage(126/2032);
        }
        .group {
            @extend %clearfix;
            position: relative;
            width: 100%;
            @media screen and (min-width: $bp-phone) {
                width: 50%;
            }
            .module--text-pad{
                @media screen and (min-width: 1025px)and(max-width: 1300px){
                    .module__text{
                        h2 {
                           @include font-size(26);
                       }
                       p {
                        @include font-size(12);
                    }
                    .cube {
                        margin-top: 10px;
                        .cube--front {
                            padding: 10px 72px 10px 24px;
                            height: 38px;
                        }
                        .cube--top {
                            padding: 10px 72px 10px 24px;
                            height: 38px;
                        }
                        p.sans-serif{
                            margin: 0px 0px 0px 0px;
                        }
                    }
                }
            }

        }
    }

    @media handheld,
    screen and (min-width: $bp-phone) {
                /*
        .group{
                    width: 50%;
                }
                */
                .gallery-video {
                    margin-top: -16px;
                    video {
                        top: 0;
                    }
                    .vjs-big-play-button{
                        top: -50% !important;
                    }
                }
                .group--left {
                    float: left;
                }
                .group--right {
                    float: right;
                }
            }
            .group--jobs {
                width: 100%; // a{
                    //     @extend %clearfix;
                    // }
                    @media handheld,
                    screen and (min-width: $bp-desktop-large) {
                        width: 50%;
                    }
                }
                &.careers .group--left {
                    padding: 0 3% 0 0;
                    & h1 {
                        display: block;
                        width: 100%;
                        text-align: center;
                        @include font-size(20);
                        @media handheld,
                        screen and (min-width: $bp-desktop) {
                            @include font-size(35);
                        }
                    }
                }
                &.careers .group--right {
                    padding: 0 0% 0 3%;
                    & h1 {
                        display: block;
                        width: 100%;
                        text-align: center;
                        @include font-size(20);
                        @media handheld,
                        screen and (min-width: $bp-desktop) {
                            @include font-size(35);
                        }
                    }
                }
                &.careers .group--left h3,
                &.careers .group--right h3 {
                    padding: 5px 0px 10px 0px;
                }
                &.container--about-pad {
                    padding: 3% 0% 0% 0%;
                }
            }

            .quote-container {
                padding-left: 25%;
                padding-right: 25%;
                text-align: center;

                .quote-padding{
                    padding-top: 50%;
                }

                @media handheld,
                screen and (min-width: 0px) and (max-width: $bp-phone) {
                    padding-left: 6.25%;
                    padding-right: 6.25%;
                }
                @media handheld,
                screen and (min-width: $bp-phone) and (max-width: $bp-desktop) {
                    padding-left: 7%;
                    padding-right: 7%;
                }
            }

            .quote-text{
                font-family: $f-merriweather;
                font-style: italic;
                font-size: 25px;
                line-height: 40px;
            }
            .quote-author{
                font-family: $f-seroot-lt;
                font-size: 17px;
                color: #828282 !important;
                line-height: 40px;
                letter-spacing: 0.05em;
                margin-top: -39px;
            }

            .work-container {
                @extend %clearfix;
                background-color: $c-bg;
                @media screen and (min-width: $bp-desktop) {
                    top: 74px;
                }
                .underlined {
                    &:after {
                        margin: 0.4em 0em;
                    }
                }
            }

            .group-container--light {
                background: url('../images/tilt-logo-light.png') center no-repeat;
                background-color: white;
            }

            .group-container--no-bg {
                background-color: transparent;
                background-image: none;
            }



            .img-container {
                margin-bottom: -5px;
                img {
                    height: 100%;
                    width: 100%;
                }
            }

            .page-template-page-template-plain{
                height: 100%;
                .wrapper{
                    height: 100%;
                }
                .news-wrapper{
                    margin: 164px auto;
                    text-align: center;
                    color: #ffffff;
                    @media screen and (min-width: 320px)and(max-width: 480px){
                        margin: 85px auto;
                    }
                    .entry-header{
                        background-color: transparent;
                        h1{
                            color: #ffffff;
                        }
                    }
                    .entry-content{
                        input{
                            margin: 10px;
                        }
                        .submit{
                            background-color: transparent;
                            color: #ff0066;
                            font-size: 16px;
                            padding: 6px 13px;
                            border: 2px solid #ff0066;
                            &:hover{
                                background-color: #ff0066;
                                color: #ffffff;
                            }
                        }
                    }
                }
                @media screen and (max-width: 480px){
                    footer{
                        .container{
                            display: none;
                        }
                    }
                }
            }

            .modal-container{
                display: none;
                position: fixed;
                z-index: 99999999;
                height: 100%;
                width: 100%;
                top: 0;
                background: #1f1f1f;
                left: 0;
                right: 0;
                bottom: 0;
                align-items: center;
                @media handheld, screen and (min-width: 0px) and (max-width: $bp-phone) {
                    position: fixed;
                }

                &.visible{
                    display: flex;
                }

                #subscribe{
                    width: auto;
                    margin: auto;
                    background: rgba(31, 31, 31, 0.98);;
                    @media handheld, screen and (min-width: 0px) and (max-width: $job-breaks) {
                        width: 100%;
                        padding: 7% 18%;
                    }

                    @media handheld, screen and (min-width: $job-breaks) and (max-width: $bp-phone) {
                        width: 80%;
                    }

                    .subscribe-wrapper{
                        width: 875px;
                        @media handheld, screen and (max-width: $bp-phone){
                            width: auto;
                        }
                    }
                    p{
                        font-size: 45px;
                        color: #ffffff;
                        font-family: $f-seroot-thn;
                        &.newsletter{
                            font-size: 20px;
                            color: #808080;
                            @media handheld, screen and (max-width: $bp-phone){
                                font-size: 15px;
                            }

                        }
                        &.newsletter-next{
                            color: #000000;
                            font-size: 20px;
                            @media handheld, screen and (max-width: $bp-phone){
                                font-size: 15px;
                            }
                        }
                        @media handheld, screen and (max-width: $bp-phone){
                            font-size: 30px;
                        }
                    }
                    .join-list{
                        font-size: 12px;
                        line-height: 30px;
                        letter-spacing: 0.15em;
                        font-family: $f-merriweather;
                        color: #ff406a;
                        text-transform: uppercase;
                        padding: 0 0 2px 2px;
                    }
                    .tick-section{
                        padding-bottom: 40px;
                        @media handheld, screen and (min-width: 0px) and (max-width: $bp-phone) {
                            padding-bottom: 0px;
                        }


                        .check-box{
                            content: "";
                            display: inline-block;
                            height: 30px;
                            width: 30px;
                            border: 1px solid #ffffff;
                            cursor: pointer;
                            margin-bottom: -7px;
                            margin-right: 20px;
                            vertical-align: text-bottom;
                            @media handheld, screen and (min-width: 0px) and (max-width: $bp-phone) {
                                width: 20px;
                                height: 20px;
                            }

                        }
                        .tick-text{
                            display: inline-block;
                            vertical-align: middle;
                            letter-spacing: 0.8px;
                            @media handheld, screen and (min-width: 0px) and (max-width: $bp-phone) {
                                font-size: 24px;
                            }
                        }
                        .tick-content{
                            font-size: 14px;
                            line-height: 18px;
                            font-family: SeroOT-Thin;
                            width: 100%;
                            margin-top: -3px;
                            color: #75787b;
                            a{
                                color: #ff406a;
                                text-transform: none;
                            }
                        }
                        .tick{
                            background: transparent;
                            width: 15px;
                            height: 15px;
                            position: absolute;
                            left: -9999px;
                        }
                        .ticked{
                            background: url("../images/tick-01.png") center no-repeat;
                            background-size: 16px 16px;
                        }
                    }
                }
                #subForm{
                    position: relative;
                }
                input{
                    border-radius: 2px;
                    letter-spacing: 1px;
                    padding: 0 5px;
                    padding-bottom: 8px;
                    margin-right: 1%;
                    margin-bottom: 40px;
                    border: none;
                    border-bottom: 1px solid #999999;
                    font-size: 45px;
                    font-family: $f-seroot-thn;
                    background-color: transparent;
                    color: #ffffff;
                    width: 100%;
                    @media handheld, screen and (min-width: 0px) and (max-width: $bp-phone) {
                        width: 100%;
                        margin-bottom: 10px;
                        font-size: 30px;
                    }
                    &:focus{
                        outline: none;
                    }
                    &#fieldEmail{
                        margin-bottom: 40px;
                        @media handheld, screen and (min-width: 0px) and (max-width: $bp-phone) {
                            margin-bottom: 10px;
                        }
                    }
                }
                button.cube-newsletter{
                    align-items: flex-start;
                    text-align: center;
                    cursor: default;
                    color: inherit;
                    background-color: inherit;
                    border-image: none;
                    border: none;
                    padding: 0;
                    outline: 0;
                    .cube--front{
                        border: 1px solid grey;
                    }
                }
                button:not(.cube-newsletter){
                    cursor: pointer;
                    outline: none;
                    min-width: 135px;
                    font-size: 20px;
                    font-family: $f-seroot-thn;
                    padding: 15px 72px 14px 24px;
                    letter-spacing: 1px;
                    text-align: left;
                    float: right;
                    &:disabled{
                        cursor: auto;
                        color: #75787b;
                        border: 1px solid #75787b;
                    }
                    @media handheld, screen and (min-width: 0px) and (max-width: $bp-phone) {
                        font-size: 15px;
                    }
                }
                .close-btn{
                    min-width: 25px;
                    height: 25px;
                    background: url(../images/close-pink.png) center right no-repeat;
                    border: none;
                    top: -100px;
                    left: 100%;
                    @media handheld, screen and (min-width: 0px) and (max-width: 420px) {
                        left: 45%;
                        top: auto;
                    }
                    @media handheld, screen and (min-width: 421px) and (max-width: 1180px) {
                        top: 0;
                        left: 74%;
                    }

                }
                .error{ /* added to input boxes by check_empty function in main.js */
                    color: #e84c64;
                    text-align: left;
                    background: url(../images/close-pink.png) right no-repeat;
                    background-position: 100% 8px;
                }
                #errors{
                    display: block;
                    position: absolute;
                    font-size: 11px;
                    font-family: $f-merriweather;
                    letter-spacing: 0.05em;
                    margin: auto;
                    text-align: left;
                    width: 100%;
                    @media screen and (max-width: 600px){
                        display: none;
                    }
                }
                .error-msg{
                  color:#e84c64;
                  display: inline-block;
                  padding: 10px 5px;
                  width: auto;
                  float: right;
                  display: none;
                  font-size: 14px;
                  font-family: $f-seroot-thn;
              }

          }

          /* front page cms styling */

          .main-work-content {

            .container:last-of-type{
                padding-bottom: 60px !important;

                &.full_image_container {
                    padding-bottom: 0px !important;
                }

            }

            .work-item {
                display: block;
                @media screen and (min-width: $bp-phone){
                    display: flex;
                }
            }

            .project_container {
                width: 100%;
                position: relative;
                background-color: rgba(32, 32, 32, 1);
                z-index: 999999;
                overflow: hidden;
                transition: all 0.5s ease;
                @media screen and (min-width: $bp-phone){
                    width: 50%;
                    height: auto;
                }
                img {
                    transition: transform ease 0.5s;
                    object-fit: cover;
                    width: 100%;
                    height: 270px;
                    @media screen and (min-width: $bp-desktop){
                        height: auto;
                    }
                }
                .related-links {
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding: 0 5.56%;
                    opacity: 0;
                    transition: all 0.5s ease-in-out;
                    pointer-events: none;
                    @media screen and (min-width: $bp-desktop){
                        padding: 0 12.4015748031%;
                    }
                    p {
                        @include font-size(16);
                        font-family: $f-seroot-lt;
                        letter-spacing: 1px;
                        text-transform: uppercase;
                        color: white;
                        line-height: 22px;
                        padding-bottom: 5px;
                        @media screen and (min-width: $bp-desktop){
                            @include font-size(20);
                        }
                    }
                    .excerpt {
                        width: 100%;
                        line-height: 1.25px;
                        @media screen and (min-width: $bp-phone){
                            width: 80%;
                        }
                    }
                    .entry-title {
                        padding-bottom: 5px;
                        @include font-size(24);
                        @media screen and (min-width: $bp-desktop){
                          @include font-size(32);  
                      }
                  }
              }
              &:hover {
                .related-links{
                    opacity: 1;

                }
                img {
                    opacity: 0.4;
                    transform: scale(1.1,1.1);
                    transition: transform ease 0.5s;
                }
            }


        }

        .goto_projects{
            position: relative;
            z-index: 999999;
            color: white;
            text-transform: uppercase;
            padding: 30px 5.56% 40px 5.56%;
            @media screen and (min-width: $bp-desktop){
                padding: 58px 0 124px 0;
                text-align: center;
            }

            .our_work_button {
                font-family: $f-seroot-lt;
                letter-spacing: 0.075;
                color: white;
                &_black {
                    color: black;
                    letter-spacing: 0.075;
                    font-family: $f-seroot-lt;
                }
            }
            .cube {
                margin-top: 0;
                @media screen and (min-width: $bp-desktop){
                    margin-top: 30px;
                }

            }
        }

        .news-line {
            display: flex;
            flex-wrap: wrap;
        }
        .news-item{
            width: 50%;
            z-index: 999999;
            position: relative;
            color: white;
            background: #272727;
            @include font-size(32);
            text-transform: uppercase;
            font-family: $f-seroot-blck;
            &:nth-child(1) {
                background: #1f1f1f;
            }
            &:nth-child(4) {
                background: #1f1f1f;
            }
            @media screen and (min-width: $bp-desktop){
                &:nth-child(2) {
                    background: #1f1f1f;
                } 
            }
            &:hover {
                .news_text span{
                    opacity: 0.8;
                }
            }

            @media (min-width: 62rem) {
              width: 25%;
              &:not(:nth-child(4n)) {
              }
            }
            &:before {
                content: "";
                float: left;
                padding-top: 100%;
             }
            .news_text {
                padding: 0% 20px 0 20px;
                @include font-size(20);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                @media screen and (min-width: 768px){
                    padding: 0% 60px 0 60px;
                    @include font-size(32);
                }
                @media screen and (min-width: $bp-desktop){
                    padding: 0% 40px 0 40px;
                }
            }
            p {
                color: $c-tilt-pink;
                text-transform: uppercase;
                @include font-size(16);
                font-family: $f-seroot-lt;
                letter-spacing: 0.75px;
                @media screen and (min-width: $bp-desktop){
                    @include font-size(20);
                }
            }
        }

}



.front-content {
    padding: 0 6.25% 10%;
}
.cms-content{
    display: flex;
    position: relative;
    .work-item-left {
        padding: 12.057087% 3%;
        width: 50%;
        max-width: 100%;
        height: auto;
        vertical-align: top;
        background-size: cover;
        &:hover {
            .title_section{
                transition: all ease 0.5s;
                opacity: 1;
            }
        }
    }
    .work-item-right {
        padding: 12.057087% 3%;
        width: 50%;
        padding: 0;
        max-width: 100%;
        height: auto;
        vertical-align: top;
        background-size: cover;
        &:hover {
            .title_section{
                transition: all ease 0.5s;
                opacity: 1;
            }
        }
    }
    .title_section {
        position: absolute;
        top: 10%;
        font-size: 25px;
        font-family: $f-seroot;
        color: white;
        letter-spacing: 1px;
        text-transform: uppercase;
        opacity: 0;
        text-shadow: 2px 2px rgba(0,0,0,0.1);
        p {
            font-family: $f-seroot;
            letter-spacing: 1px;
            text-transform: uppercase;
        }
    }
}

.news-items {
    text-align: center;
}
.news-content {
    margin-top: 120px;
    display: inline-block;
    width: 24%;
    height: 250px;
    vertical-align: top;
    background: rgba(255,255,255,0.02);
    text-align: left;
    h3 {
        padding: 0 15px;
    }
    p {
        margin-top: 30%;
        padding: 0 15px;
        color: $c-tilt-pink;
        font-family: $f-seroot;
        text-transform: uppercase;
    }
}

.content-1, .content-3{
    background: none;
}


/* work page cms styling */

/* intro section */

.work-item {
    .fullpage-overlay {
        display: block;
        z-index: 0;
        position: absolute;
        video {
            height: 100vh;
        }
    }
    .header-title {
        p {
            @include font-size(16);
            font-family: $f-seroot-lt;
            line-height: 12px;
            text-transform: uppercase;
            letter-spacing: 1.2px;
            @media screen and (min-width: $bp-desktop) {
                line-height: 20px;
                @include font-size(20);
                letter-spacing: 1px;
            }

        }
        h1 {
            @include font-size(44);
            line-height: 44px;
            padding: 6.5px 0 4px 0;
            @media screen and (min-width: $bp-desktop) {
                font-size: 70px;
                line-height: 1;
                padding: 0 0 6px 0;
            }
        }
        .award-logo {
            margin-top: 15px;
            display: none;

            @media screen and (min-width: $bp-desktop) {
               display: block;
           }    


           &.mobile{
            display: block;
            @media screen and (min-width: $bp-desktop) {
                display: none;
            }
        }

    }
}
}

.main-work-content > :last-child img {
    padding-bottom: 0;
}

.main-work-content .container {
    &:first-child {
        padding-top: 60px;
        @media screen and (min-width: $bp-desktop) {
            padding-top: 180px;
        }
    }
}

.container-headline-text {
    padding: 0px 6.25% 60px 6.25%;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 6.25% 180px 6.25%;
    }
    .text-section {
        margin-bottom: 40px;
        @media screen and (min-width: $bp-desktop) {
            display: inline-block;
            width: 33.33%;
            vertical-align: top;
            margin-bottom: 0px;
        }
        h2 {
            float: none;
            width: 100%;
        }
        p {
            color: #d2d2d2;
        }
        .text-section__para {
            float: none;
            width: 100%;
            color: #d2d2d2;
            @media screen and (min-width: $bp-desktop) {
              width: 85%;  
            }
        }
        &:last-child {
            margin-bottom: 0px;
        }
    }

}

.launch-project-button {
    padding: 0px 6.25% 60px 6.25%;

    @media screen and (min-width: $bp-desktop) {
        padding: 0px 6.25% 180px 6.25% ;
    }

    font-size: 1.25rem;

    .launch-link {
        width: 84%;
        margin: 0 auto;
        text-align: center;

        @media screen and (min-width: $bp-desktop){
            width: 50%;
        }

        a {
            color: white;
            letter-spacing: 0.075em;
            display: inline-block;

            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 2px;
                background: #505050;
                transition: width .5s;
                position: relative;
            }

            &:after {
                content: '';
                display: block;
                width: 0%;
                height: 2px;
                background: #fff;
                transition: width .5s;
                position: relative;
                bottom: 64px;
            }
        }

        .launch-box {
            padding: 20px 0;

            p {
                @include font-size(20);
                display: inline-block;
                padding: 0 7px 0 0;
                color: #bbbbbb;
            }

            &:after {
                content: '';
                width: 8px;
                height: 13px;
                display: inline-block;
                background: url("../images/button_arrow.png") no-repeat;
                transition: all 0.5s ease;

            }
        }

        &:hover {
            a:before {
                width: 0%;
            } 

            a:after {
                width: 100%;
            }  
            
            .launch-box {
                transition: all 0.5s ease;

                p {
                    color: #fff;
                }

                &:after {
                    transform: translateX(-5px);
                }
            }
        }
    }
}

.full-height-video {
    padding: 0px 6.25% 60px 6.25%;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 6.25% 180px 6.25%;
    }
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.looping-video {
    padding: 0px 0 180px 0;
    video {
        width: 100%;
        height: 100vh;
    }
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;
}

.video-row {
    padding: 0px 6.25% 60px 6.25%;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 6.25% 180px 6.25%;
        display: flex;
        justify-content: center;
    }
    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
        @media screen and (max-width: $bp-desktop) {
            padding-bottom: 56.25%;
        }
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

    }
    .left-video {
        @media screen and (min-width: $bp-desktop) {
            width: 50%;
            max-width: 622px;
        }
    }
    .right-video {
        @media screen and (min-width: $bp-desktop) {
            width: 50%;
            max-width: 622px;
        }
    }
    &.no-padding {
        padding: 0 6.25%;
    }
    &.section-1  {
        padding: 0px 6.25% 60px 6.25%;

        @media screen and (min-width: $bp-desktop) {
            padding: 0px 6.25% 180px 6.25%;
        }
    }
}


.text_section_container {
    padding: 0px 6.25% 60px 6.25%;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 6.25% 180px 36%;
    }
    h2 {
        margin-bottom: 9px;
    }
    h3 {
        margin: 35px 0px 5px;
    }
    p {
      color: #d2d2d2;
  }
  ul {
    li {
        line-height: 26px;
        display: block;
        margin-top: 5px;
        color: #d2d2d2;
        text-indent: -0.65em;
        padding: 0 20px;

        strong {
            display: contents;
        }

        &:before{
            content : '\25CF';
            display: inline-block;
            padding: 0px 10px 0px 0px;
        }
    }
}
a {
    color: #d2d2d2;
    font-family: $f-merriweather;
    text-transform: none;
    display: inline-block;

    &:before {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #505050;
        transition: width .2s;
        position: relative;
        bottom: -26px;
    }

    &:hover::before {
       width: 0%;
   }

   &:after {
    content: '';
    display: block;
    width: 0%;
    height: 1px;
    background: #fff;
    transition: width .5s;
    position: relative;
    bottom: 3px;
}

&:hover::after {
   width: 100%;
}



}
.text_mid {
    display: block;
    @media screen and (min-width: $bp-desktop) {
        width: 40%;
        display: inline-block;
        vertical-align: top;
    }
}
.text_right {
    display: block;
    @media screen and (min-width: $bp-desktop) {
        width: 40%;
        display: inline-block;
        vertical-align: top;
        margin-left: 50px;

    }

    &.no_header {
        margin-top: 42px;
    }

}
.text_single {
    display: block;
    @media screen and (min-width: $bp-desktop) {
        columns: 1;
        display: block;
        column-gap: 50px;
        width: 40%;
    }
}
> div + div {
    margin-top: 1.8em;
    @media screen and (min-width: $bp-desktop) {
        margin-top: 0em;
    }
}
}

.result_section_container {
    padding: 0px 6.25% 60px 6.25%;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 6.25% 180px 6.25%;
    }
    h2 {
        margin-bottom: 9px;
        @media screen and (min-width: $bp-desktop) {
            @include font-size(30);
        }
    }
    h3 {
        margin: 35px 0px 5px;
    }
    p {
        color: #d2d2d2;
        @include font-size(24);
        width: 100%;
        line-height: 1.5;
        letter-spacing: -0.24px;
        display: block;
        @media screen and (min-width: $bp-desktop) {
            @include font-size(30);
            width: 80%;
            display: inline-block;
        }

        strong {
            font-family: $f-merriweather;
            font-weight: 600;
        }
    }
    .text_left {
        display: block;

        &:before {
            content: '\25CF';
            padding: 10px 10px 0 0;
            color: #ff0066;
            font-size: 24px;
            display: inline-block;
            float: left;
                @media screen and (min-width: $bp-desktop) {
                    font-size: 30px;
                }
        }

        @media screen and (min-width: $bp-desktop) {
            width: 33%;
            display: inline-block;
            vertical-align: top;
        }
    }
    .text_mid {
        display: block;

        &:before {
            content: '\25CF';
            padding: 10px 10px 0 0;
            color: #ff0066;
            font-size: 30px;
            display: inline-block;
            float: left;
        }
        @media screen and (min-width: $bp-desktop) {
            width: 33%;
            display: inline-block;
            vertical-align: top;
            padding: 0 0 0 20px;
            border-left: 1px solid;
            border-image: linear-gradient(to bottom,
                rgba(0,0,0,0) 0%,
                rgba(0,0,0,0) 9%,
                #434344 10%,
                #434344 89%,
                rgba(0, 0, 0, 0) 90%,
                rgba(0, 0, 0, 0) 
                ) 1 100%;
            border-right: 1px solid;
        }
    }
    .text_right {
        display: block;

        &:before {
            content: '\25CF';
            padding: 10px 10px 0 0;
            color: #ff0066;
            font-size: 30px;
            display: inline-block;
            float: left;
        }
        @media screen and (min-width: $bp-desktop) {
            width: 33%;
            padding: 0 0 0 20px;
            display: inline-block;
            vertical-align: top;

        }
    }
    .text_single {
        display: block;
        @media screen and (min-width: $bp-desktop) {
            columns: 1;
            display: block;
            column-gap: 50px;
            width: 40%;
        }
    }
    > div + div {
        margin-top: 1.8em;
        @media screen and (min-width: $bp-desktop) {
            margin-top: 0em;
        }
    }

    &.no-padding {

        @media screen and (min-width: $bp-desktop) {
            padding: 0px 6.25% 60px 6.25%;
        }
    }
}

.gallery-container {
    padding: 0px 6.25% 0px 6.25%;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 6.25% 180px 6.25%;
    }
}

.full_image_container {
    padding: 0px 0px 60px 0px;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 0px 180px 0px;
    }
    .full-size {
        display: none;
        @media screen and (min-width: $bp-desktop) {
            width: 100%;
            height: auto;
            display: block;

        }
    }
    .mobile-image {

        width: 100%;
        height: auto;

        @media screen and (min-width: $bp-desktop) {
            display: none;

        }
    }
}

.padded_image_container {
    padding: 0px 6.25% 60px 6.25%;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 6.25% 180px 6.25%;
    }
    .img-contained {

        display: none;

        @media screen and (min-width: $bp-desktop) {
            height: auto;
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }

    .mobile-image {

        width: 100%;
        height: auto;
        display: block;

        @media screen and (min-width: $bp-desktop) {
            display: none;

        }
    }

}

.padded_image_container_long {
    padding: 0px 6.25% 60px 6.25%;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 6.25% 180px 6.25%;
    }
    img {
        height: auto;
        display: block;
        margin: 0 auto;
        max-width: 100%;
        -webkit-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.35);
        -moz-box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.35);
        box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.35);
    }
}

.quote-outer {
    padding: 0px 0 114px 0;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 0 180px 0;
    }
}
.quote-container {
    .text-section {
        &:before {
            content: '“';
            display: block;
            color: $c-tilt-pink;
            font-size: 80px;
            font-family: "SeroOT-Bold", "Helvetica", "Arial", sans-serif;
            height: 30px;
            @media screen and (min-width: $bp-desktop) {
                height: 60px;   
            }
        }
        p{
            margin-top: 18px;
            letter-spacing: -0.24px;
        }
    }
    .quote-attribute {
        p{
            letter-spacing: 0.075em;
            blockquote p {
/*            &:not(:first-child){
                &:before {
                    content: '\00B6';
                    display: inline-block;
                    letter-spacing: 0.20em;
                    color: #737373;
                }
                }*/
            }
        }
        .quote-attribute {
            p{
                letter-spacing: 0.075em;
            }
        }
    }
}


.related-projects {
    padding: 0px 6.25% 60px 6.25%;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 6.25% 180px 6.25%;
    }
    .related-container {
        display: block;
        padding: 60px 0 60px 0;
        @media screen and (min-width: $bp-desktop) {
            display: flex;
            padding: 60px 0 60px 0;
        }
        .related-titles {
            position: absolute;
            bottom: 40%;
            padding: 0 50px;
            @media screen and (min-width: $bp-desktop) {
                opacity: 0;
            }
            p{
                font-size: 25px;
                font-family: $f-seroot;
                letter-spacing: 1px;
                text-transform: uppercase;
            }
        }
        .left-project {
            @media screen and (min-width: $bp-desktop) {
                width: 50%;
            }
            position: relative;
            a {
                width: 100%;
            }
            &:hover {
                .related-titles {
                    transition: all ease 0.5s;
                    opacity: 1;
                }
            }
        }

        .right-project {
            @media screen and (min-width: $bp-desktop) {
                width: 50%;
            }
            position: relative;
            a {
                width: 100%;
            }
            &:hover {
                .related-titles {
                    transition: all ease 0.5s;
                    opacity: 1;
                }
            }
        }
    }
}

.image_carousel {
    display: flex;
    padding: 0px 0 60px 0;
    @media screen and (min-width: $bp-desktop) {
        padding: 0px 0 180px 0;
    }
    .carousel-image {
        img {
            width: 100%;
            opacity: 0.65;
        }
        &.slick-current{
            img{
                opacity: 1;
            }
        }
    }
    .slick-dots {
        position: absolute;
        display: block;
        bottom: 25%;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        @media screen and (min-width: 1350px) {
            bottom: 18%;
        }
        li {
            display: none;
            @media screen and (min-width: $bp-desktop) {
                position: relative;
                display: inline-block;
                width: 20px;
                height: 20px;
                margin: 0 5px;
                padding: 0;
                cursor: pointer;
            }
            button {
                @media screen and (min-width: $bp-desktop) {
                    font-size: 0;
                    line-height: 0;
                    display: block;
                    width: 20px;
                    height: 20px;
                    padding: 5px;
                    cursor: pointer;
                    color: transparent;
                    border: 0;
                    outline: none;
                    background: transparent;
                }
                &:before {
                    @media screen and (min-width: $bp-desktop) {
                        font-family: 'slick';
                        font-size: 38px;
                        line-height: 20px;
                        position: absolute;
                        top: 30px;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        content: '•';
                        text-align: center;
                        opacity: .25;
                        color: white;
                        -webkit-font-smoothing: antialiased;
                    }
                }
            }
            &.slick-active {
                button:before{
                    @media screen and (min-width: $bp-desktop) {
                        opacity: 1;
                        color: white;
                    }
                }
            }
        }

    }
}