.container.contact--page {
  padding: 0;
}

.contact-section {
  @media (min-width: 900px) {
    width: 100%;
    text-align: center;
  }
}

.contact-section-info {
  text-transform: uppercase;
  font-size: 1.5625rem;
  font-weight: normal;
  color: #fff;
  line-height: 1.2em;
  @media (max-width: 1200px) {
    font-size: 1.4rem;
    padding-left: 30px;
  }
  @media (max-width: 1100px) {
    font-size: 1.3rem;
  }
  @media (max-width: 900px) {
    padding-top: 40px;
  }
  @media (min-width: 900px) {
    min-height: 420px;
    /* padding-left: 15%;*/
  }
}

.contact-title {
  margin-top: 20px;
}

.contact-address {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-form-page {
  background-color: #030303;

  h2 {  
    text-align: left;
  }

  .form-box {
    margin: 0 auto 50px;
    padding: 180px 34px 140px;
    max-width: 900px;
  }

  form {
    gap: 32px;
  }

  form.hs-form{
    font-family: $f-merriweather;
    font-weight: 300;
  }

  .hs-form-field {
    padding: 5px 0;
  }

  input,
  select,
  textarea {
    background-color: #030303;
    width: 100%;
    display: flex;
    color: white;
    padding: 15px 20px 14px 20px;
    border: 1px solid $c-grey-5e;
    outline: $c-tilt-pink;
    border-radius: 3px;
    &:focus {
      border: 1px solid #878787;
    }
    ::placeholder {
      color: #878787;
      opacity: 1; /* Firefox */
    }

    ::-ms-input-placeholder { /* Edge 12 -18 */
      color: #878787;
    }

    &.error{
      border-color: #EC1968;
    }
  }
  select:invalid{
    color: #878787;
  }
  .hs_attach_your_brief{
    margin-top: 0;
    text-align: left;
    input[type="file"]{
      display: none;
    }
    label{
      display: inline-block;
      border-radius: 3px;
      background: #333;
      color: #fff;
      letter-spacing: 0.6px;
      padding: 6px 10px;
      font-size: 12px;
      line-height: 16px;
      &:hover{
        cursor: pointer;
        background: #555;
      }
    }
  }

  .hs-richtext{
    color: #fff;
    opacity: 0.5;
    display: block;
    text-align: left;
    margin-top: 28px;
    line-height: 1.2;
  }
  .hs_recaptcha{
    position: fixed;
    right: 0;
    bottom: 0;
  }

  input[type="file"]{
    border: none;
    padding: 0;
  }

  legend {
    text-align: left;
  }

  .hs-fieldtype-select div {
    border: 1px solid $c-grey-5e;
    padding-right: 10px;

    select, option {
      border: none;
    }
  }

  input[type=submit] {
    border-radius: 0;
    text-align: left;
    cursor: pointer;
    border: 1px solid grey;
    padding: 16px 59px 15px 22px;
    text-transform: uppercase;
    background: url(../images/button_arrow.png) center right no-repeat;
    background-size: 32px 13px;
    float: right;
    min-width: 135px;
    font-family: "SeroOT-Thin", "Helvetica", "Arial", sans-serif;
    letter-spacing: 1px;
    color: white;
    border-color: white;
    width: auto;
    margin-top: 28px;
  }

  option {
    line-height: 1.75;
  }



  .hs-button {
  }

  textarea {
    min-height: 255px;
  }

  .hs-submit{
    position: relative;
    .hs-field-desc{
      color: #EC1968;
      text-align: left;
      font-size: 16px;
      line-height: 1.2;
      width: 60%;
      font-weight: 300;
      font-family: $f-merriweather;
      position: absolute;
      top: 35px;
      left: 0;
    }
  }

  form {
    @media (min-width: 900px) {
      columns: 2;
      .hs_attach_your_brief{
        margin-bottom: 175px;
      }
    }
  }

  legend {
    color: #878787;
    justify-content: left;
  }
  .hs-error-msgs{
    text-align: left;
    margin: 20px 0;
    line-height: 1.2;
  }

  .submitted-message{
    text-align: left;
    h2{
      span{
        font-family: "SeroOT-Black", "Helvetica", "Arial", sans-serif !important;
      }

    }
    p span{
      font-family: "Merriweather", serif !important;
    }
  }
}

.form-title {
  margin-bottom: 50px;
}

.hs-main-font-element {
  //display: none;
}
