.container.contact--page {
  padding: 0;
}

.contact-section {
  @media (min-width: 900px) {
    width: 100%;
    text-align: center;
  }
}

.contact-section-info {
  padding: 141px 0 149px 0;
  .section-info-container{
    padding: 0 34px;
    max-width: 900px;
    margin: 0 auto;
    text-align: left;
    .contact-item{
      margin-bottom: 43px;
      @media (min-width: 900px) {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    h4{
      font-size: 25px;
      line-height: 32px;
      font-weight: 300;
      font-family: $f-seroot-lt;
    }
    a{
      text-transform: none;
      font-size: 25px;
      line-height: 32px;
      font-weight: bold;
    }
    .address{
      font-size: 25px;
      line-height: 32px;
      font-weight: 300;
      font-family: $f-seroot-lt;
      color: #fff;
    }
    .google-link{
      margin-top: 11px;
    }
    .tel{
      margin-top:41px;
      a.tel-link{
        color: #fff;
        font-size: 25px;
        line-height: 32px;
        font-weight: 300;
        font-family: $f-seroot-lt;
        &:hover{
          color: $c-tilt-pink;
        }
      }
    }
    @media (min-width: 900px) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-col, .right-col{
        width: 50%;
      }
    }
  }

}

.contact-title {
  margin-top: 20px;
}

.contact-address {
  margin-top: 20px;
  margin-bottom: 30px;
}

.contact-form-page {
  background-color: #030303;

  h2 {  
    text-align: left;
  }

  .form-box {
    margin: 0 auto;
    padding: 180px 34px 140px;
    max-width: 900px;
  }

  form {
    gap: 32px;
  }

  form.hs-form{
    font-family: $f-merriweather;
    font-weight: 300;
  }

  .hs-form-field {
    padding: 5px 0;
  }

  input,
  select,
  textarea {
    background-color: #030303;
    width: 100%;
    display: flex;
    color: white;
    padding: 15px 20px 14px 20px;
    border: 1px solid $c-grey-5e;
    outline: $c-tilt-pink;
    border-radius: 3px;
    &:focus {
      border: 1px solid #878787;
    }
    ::placeholder {
      color: #878787;
      opacity: 1; /* Firefox */
    }

    ::-ms-input-placeholder { /* Edge 12 -18 */
      color: #878787;
    }

    &.error{
      border-color: #EC1968;
    }
  }
  select:invalid{
    color: #878787;
  }
  .hs_attach_your_brief{
    margin-top: 0;
    text-align: left;
    input[type="file"]{
      display: none;
    }
    label{
      display: inline-block;
      border-radius: 3px;
      background: #333;
      color: #fff;
      letter-spacing: 0.0375rem;
      font-family: $f-seroot-thn;
      padding: 6px 10px;
      font-size: 12px;
      line-height: 16px;
      &:hover{
        cursor: pointer;
        background: #555;
      }
    }
    .hs-field-desc{
      margin-top: 10px;
    }
  }

  .hs-richtext{
    color: #fff;
    opacity: 0.5;
    display: block;
    text-align: left;
    margin-top: 28px;
    line-height: 1.2;
  }
  .hs_recaptcha{
    position: fixed;
    right: 0;
    bottom: 0;
  }

  input[type="file"]{
    border: none;
    padding: 0;
  }

  legend {
    text-align: left;
  }

  .hs-fieldtype-select div {
    border: 1px solid $c-grey-5e;
    padding-right: 10px;

    select, option {
      border: none;
    }
  }

  input[type=submit] {
    border-radius: 0;
    text-align: left;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 16px 59px 15px 25px;
    text-transform: uppercase;
    background: url(../images/button_arrow.png) center right no-repeat;
    background-size: 32px 13px;
    float: right;
    min-width: 135px;
    font-family: "SeroOT-Thin", "Helvetica", "Arial", sans-serif;
    letter-spacing: 1px;
    color: white;
    border-color: white;
    width: auto;
    margin-top: 28px;
    &:hover{
      background: #fff url(../images/button_arrow.png) center right no-repeat;
      color: #000;
    }
  }

  option {
    line-height: 1.75;
  }



  .hs-button {
  }

  textarea {
    min-height: 255px;
  }

  .hs-submit{
    position: relative;
    .hs-field-desc{
      color: #EC1968;
      text-align: left;
      font-size: 16px;
      line-height: 1.2;
      width: 60%;
      font-weight: 300;
      font-family: $f-merriweather;
      position: absolute;
      top: 35px;
      left: 0;
    }
  }

  form {
    @media (min-width: 900px) {
      columns: 2;

    }
  }

  legend {
    color: #878787;
    justify-content: left;
  }
  .hs-error-msgs{
    text-align: left;
    margin: 20px 0;
    line-height: 1.2;
  }

  .submitted-message{
    text-align: left;
    h2{
      span{
        font-family: "SeroOT-Black", "Helvetica", "Arial", sans-serif !important;
      }

    }
    p span{
      font-family: "Merriweather", serif !important;
    }
  }
  .form-gdpr-message{
    text-align: left;
    margin-top: 40px;
    p{
      font-size: 0.8rem;
    }
  }
}

.form-title {
  margin-bottom: 50px;
}

.hs-main-font-element {
  //display: none;
}
