$icon-size: 24px;
$form-width: 800px;

footer {
    /*max-height: 780px;*/
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    background-color: #171717;
    // @media screen and (min-width: 320px)and(max-width: 480px){
        // background-image: none !important;
    // }
    @media handheld,
    screen and (min-width: 0px) and (max-width: $bp-desktop) {
        background-position: center center;
        background-size: auto;
    }
    #contact & {
        position: relative;
        max-height: none;
    }
    .container {
        padding: 0 percentage(381/2032);
        height: 460px;
        background-color: transparent;
        @media handheld,
        screen and (min-width: $bp-desktop) {
            height: 520px;
        }
    }
    .first-para {
        &:before {
            height: 18px;
            width: 18px;
            background-color: $c-tilt-pink;
            @media handheld,
            screen and (min-width: $bp-phone) and (max-width: $bp-desktop) {
                height: 15px;
                width: 15px;
            }
            @media handheld,
            screen and (min-width:0px) and (max-width:$bp-phone) {
                height: 11px;
                width: 11px;
            }
        }
    }
    #popup{
        // padding: 5px 20px;
        color: #ffffff;
        background: transparent;
        cursor: pointer;
        display: inline-block;
        font-family: $f-seroot;
        letter-spacing: 1px;
        line-height: $icon-size;
        margin-bottom: $icon-size;
        padding: 0 30px;
        text-transform: none;
        // vertical-align: top;
        // @media screen and (max-width: 320px){
        //     padding: 10px 38px;
        //     line-height: 2;
        // }
        // @media screen and (min-width: 321px)and(max-width: 480px){
        //     padding: 10px 70px;
        //     line-height: 2;
        // }
    }

    #subscribe{
        display: none;
        width: 100%;
    }
    #subscribe.active{
        display: inline-block;
        margin-left: 5px;
        margin-right: 10px;
        margin-bottom: 30px;
        p{
            font-size: 14px;
            color: #999999;
            padding: 0.25em 0;
        }
        #subForm{
            display: inline-block;
            max-width: $form-width;
            width: 100%;
            input{
                font-family: $f-seroot;
            }
        }
        input{
            border-radius: 2px;
            letter-spacing: 1px;
            padding: 0 5px;
            margin-right: 1%;
            border: none;
            font-size: 16px;
            background-color: #303030;
            color: #ffffff;
            height: 45px;
            width: calc((100% - 5% - 140px)/2); /* two input fields, each half of total width less allowance for margins and button */
        }

        button{
            cursor: pointer;
            outline: none;
            min-width: 140px;
            font-size: 14px;
            font-family: $f-seroot;
            height: 45px;
            letter-spacing: 1px;
            position: relative;
            padding-right: 36px;
            text-align: right;
            &:disabled{
            cursor: auto;
            color: #5c5c5c;
            background: transparent;
            border: 2px solid #5c5c5c;
            }
        }
        svg{
            height: 17px;
            position: absolute;
            right: 15px;
            top: 11px;
            fill: #5c5c5c;
        }
        .error{ /* added to input boxes by check_empty function in main.js */
            border: 1px dotted #e84c64;
            color: #e84c64;
            background-color: #4d3438;
            text-align: left;
        }
        #errors{
            clear: both;
            display: block;
            font-size: 11px;
            font-family: $f-merriweather;
            max-width: $form-width;
            text-align: left;
            width: 100%;
            @media screen and (max-width: 480px){
                display: none;
            }
        }
        .error-email{
            display: none;
            color:#e84c64;
            float: right;
            padding: 5px;
            width: calc(100% - ((100% - 140px)/2));
        }
        .error-name{
            display: none;
            color:#e84c64;
            float: left;
            padding: 5px;
        }
    }

    .telephone {
        float: right;
        font-size: 1.2rem;
        color: white;
        margin-bottom: 1rem;
        clear: none;
        font-family: $f-merriweather;
        font-weight: 300;
        line-height: $icon-size;
        // padding-top: 5px;
        // @media handheld,
        // screen and (min-width: $bp-desktop) {
            // float: right;
            // clear: none;
            // margin-top: 0px;
            // font-size: 1.5em;
        // }
        @media handheld,
        screen and (min-width:0px) and (max-width:800px) {
            float: left;
            clear: both;
        }
        // @media screen and (min-width: 320px)and(max-width: 480px){
        //     margin-top: 0px;
        //     margin-bottom: 0px;
        //     background-image: none;
        // }
        a {
            color: $c-tilt-pink;
        }
    }
    #footnote-1 {
        border-top: 1px solid $c-grey-3a;
        clear: both;
        padding-top: 1rem;
    }
    p.sans-serif {
        @include font-size(25);
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-phone) {
            @include font-size(16);
        }
    }
    p.button {
        @include font-size(18);
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-phone) {
            @include font-size(15);
        }
        @media handheld,
        screen and (min-width: $bp-desktop) {
            @include font-size(20);
        }
    }
}

.privacy_policy{
    color: #ffffff;
    font-family: $f-seroot-lt;
    font-size: 13px;
    float: right;
    text-transform: capitalize;
}

#footer-contacts {
  @extend %clearfix;
  @media all and(max-width: 800px) {
      text-align: center;
      .telephone {
          float: none;
          display: inline-block;
      }
    }
}

#signoff {
    @extend %clearfix;
    background-color: $c-bg;
    /*height: 168px;*/
    padding: 33px 4%;
    border-top: 1px solid #171717;
    // @media handheld,
    // screen and (min-width: $bp-desktop) {
        /*height: 190px;*/
    // }
    // @media all and(max-width: 600px) {
    //     text-align: center;
    //     .telephone {
    //         float: none;
    //         display: inline-block;
    //     }
    // }
    #contact & {
        height: auto;
        padding: percentage(46/2032) percentage(126/2032);
    }
}

.project-navigation {
    padding: 12px 0px 10px 0px;
    background-color: $c-tilt-pink;
    width: 50%;
    display: block;
    float: left;
    text-align: center;
    line-height: 1.8;
    @media handheld,
    screen and (min-width: $bp-desktop) {
        padding:12px 0px 10px 0px;
    }
    /* span { font-size:24px; } */
    &:hover {
        background-color: $c-tilt-pink2;
    }
}

.nav-links span,
.nav-links a {
    padding: 14px 0px 10px 0px;
    background-color: $c-tilt-pink;
    display: block;
    float: left;
    line-height: 1.8;
    &:hover {
        color: $c-grey-7d;
    }
}

#footer-icons {
    @extend %clearfix;
    margin-bottom: $icon-size;
    padding: 0;
    display: inline-block;
    vertical-align: top;
    @media all and(max-width: 600px) {
        text-align: center;
        .footer-icon {
            &:first-child {
                margin-left: 0;
            }
        }
    }
}

.footer-icon {
    display: inline-block;
    width: $icon-size;
    height: $icon-size;
    &:hover {
        opacity: 0.7;
    }
    a {
        height: 100%;
        width: 100%;
        display: block;
    }
    &.footer-icon {
        margin-left: $icon-size;
        &:first-child {
            margin-left: 5px;
        }
        @media handheld,
        screen and (min-width: 0px) and (max-width:1024px) {
            margin-left: $icon-size;
        }
    }
}

.f-ico_facebook {
    margin-left: 0;
    height: 23px;
    width: 11px;
}

.f-ico_twitter {
    margin-top: 3px;
    height: 19px;
    width: 25px;
}

.f-ico_vimeo {
    margin-top: 1px;
    height: 21px;
    width: 24px;
}

.f-ico_instagram {
    height: 23px;
    width: 23px;
}

.f-ico_youtube {
    margin-top: 1px;
    height: 21px;
    width: 29px;
}

.f-ico_tumblr {
    height: 25px;
    width: 25px;
}
