/*
.safari .module .module__text {
	top: 25%;
    transform: none;
}
*/

.module {
    transform: scale(0.7, 0.7);
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    position: relative;
    transition: all 0.5s ease;
    &.module--dark {
        background-color: #1f1f1f;
        h2,
        p {
            color: white;
        }
    }
    &.module--dark-mobile {
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-desktop) {
            background-color: $c-bg;
        }
    }
    &.module--dark-mobile-news {
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-desktop) {
            background-color: $c-grey-25;
        }
    }
    .info-container {
        display: none;
    }
    .module__text {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        padding: 0 12% 0 12%;
        p.first-para {
            margin: 20px 0px 0px 0px;
        }
        h2 {

        }
        p {
            @media handheld,
            screen and (min-width: 0px) and (max-width: $bp-phone) {
                font-size: 14px;
            }
            @media handheld,
            screen and (min-width:$bp-phone) and (max-width:$bp-desktop) {
                font-size: 16px;
            }
        }
    }
    .home--tweet {
        width: 100%;
    }
    &:hover,
    &.hover {
        .overlay {
            opacity: 1;
        }
        .ratio {
/*          transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
            transform: scale(1.1);
*/

}
}
.ratio {
    /*    transition: all ease 0.8s;*/
}
a,
a.hover {

}

&.module--job {
    text-align: center;
    background-color: $c-bg;
    width: 100%;
    padding-top: 100%;
    @media handheld,
    screen and (min-width: $bp-desktop) {
        width: 50%;
        padding-top: 80%;
    }
    @media handheld,
    screen and (min-width: $job-breaks) and (max-width: $bp-desktop) {
        width: 50%;
    }
    @media handheld,
    screen and (min-width:0px) and (max-width: $job-breaks) {
        width: 100%;
    }
    &:hover {
        #admin #shapes .st0,
        #motion #wobbly,
        #designer #designer_shapes .st1 {
            stroke: #fff;
        }
        #admin #circles .st3,
        #motion .st0,
        #designer #designer_circles .st0 {
            stroke: #000;
        }
    }
    .module__text {
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-desktop) {
            padding: 0;
        }
    }
    .icon-holder {
        width: 75%;
        margin: 0px auto;
        @media handheld,
        screen and (min-width: 0px) and (max-width: $job-breaks) {
            width: 50%;
        }
    }
    h2+p {
        padding-top: 2%;
    }
    h2 {
        color: $c-tilt-pink;
        @include font-size(25);
    }
    &:hover {
        background-color: $c-tilt-pink;
        h2,
        h3 {
            color: white;
        }
    }
}
& .module__description {
    height: 100%;
    bottom: 0px;
    top: auto;
    transform: none;
    padding: 0;
    left: 0;
    right: 0;
    margin: 0px auto;
    img {
        width: 65%;
        padding-bottom: 7.5%;
        padding-top: 7.5%;
        &.careers--img {
            width: 50%;
        }
    }
    .careers & {
        @extend %clearfix;
    }
        /* .careers & { margin:0 0 50px 0; } */
    }
    &.module--no-bg {
        background-color: transparent;
    }
    &.module--no-zoom {
        &.ratio {
            transform: scale(1);
            &:hover {
                transform: scale(1);
            }
        }
    }
}

.module--nozoom {
    transform: scale(1);
}

.module--visible {
    transform: scale(1);
    visibility: inherit;
    opacity: 1;
}

.module--2-1 {
    width: 100%;
    padding-top: 50%;
    clear: left;
}

.module--16-9 {
    width: 100%;
    clear: left;
    padding-top: 56%;
}

.module--16-5 {
    width: 100%;
    clear: left;
    padding-top: 31.33333%;
    min-height: 400px;
    & #about-page--video {
        object-fit: cover;
    }
}

.module--1-1 {
    width: 50%;
    padding-top: 50%;
    background-color: $c-bg;
    float: left;
}

#module-other {
    background-color: yellow;
}

.module--2-2 {
    width: 100%;
    padding-top: 100%;
    float: left;
    &.careers--image {
        padding-top: 90%;
    }
}

.module--staff {
    // width: 50%;
    width: 50%;
    padding-top: 50%;
    height: 1px;
    float: left;
    @media handheld,
    screen and (min-width: $bp-desktop) {
        width: 25%;
        padding-top: 25%;
    }
    .bottom-border {
      width: 0;
      height: 10px;
      background: $c-tilt-pink;
      transition: width 0.3s ease-in;
      margin-top: -10px;
      z-index: 99;
      position: relative;
  }
  &:hover {
      .bottom-border {
        width: 100%;
    }
}
}



.ratio {
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    background-size: cover;
}

#instagram_link_1,
#instagram_link_2,
#instagram_link_3,
#instagram_link_4 {
    &:after {
        content: "";
        height: 23px;
        width: 23px;
        position: absolute;
        background-image: url('../images/instagram_transparent.png');
        opacity: 0.8;
        bottom: 20px;
        right: 20px;
    }
}

/*.news--icon {
    &:after {
        content: "";
        height: 25px;
        width: 24px;
        position: absolute;
        background-image: url('../images/news_icon.png');
        opacity: 0.8;
        bottom: 20px;
        right: 20px;
    }
}*/

.news--icon {

    .overlay-text {
        @include font-size(22);
            @media handheld, screen and (min-width: $bp-phone) {
                @include font-size(32); 
            }
    }
}

.news-noimg {

    .tag--home-title {
        color: #949393;
    }

    &:hover {
        background-color: #202020;

        span {
            color: #949393 !important;
        }
    }

}

.logo--icon {
    &:after {
        content: "";
        position: absolute;
        opacity: 0.6;
        bottom: 20px;
        left: 20px;
    }
}


/*
.logo--bp {
	&:after{
        height:75px;
        width:56px;
        background-image: url('../images/work/logo_bp.png');
    }
}

.logo--sdnp {
	&:after{
        height:68px;
        width:130px;
        background-image: url('../images/work/logo_sdnp.png');
    }
}
*/

.module--video {
    overflow: hidden;
    @extend %clearfix;
    &.ratio {
        &:hover {
            transform: scale(1);
        }
    }
    video {
        &:hover {
            transform: scale(1);
        }
    }
    video {
        position: relative;
        top: 100%;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        min-width: 100%;
        height: 0;
        min-height: 100%;
        margin: auto;
        transition: transform 0.8s ease 0s, opacity 0.8s ease 0s;
        transform: scale(1);
        overflow: hidden;
        header & {
            position: absolute;
            top: -9999px;
            right: -9999px;
            bottom: -9999px;
            left: -9999px;
            display: block;
            min-width: 100%;
            height: auto;
            min-height: 100%;
            margin: auto;
            width: 100%;
            &:hover {
                transform: none;
            }
        }
    }
    &.module--staff {
        cursor: pointer;
        video {
            height: 100%;
            width: 100%;
            &:hover {
                transform: scale(1);
            }
        }
        *::-webkit-media-controls-start-playback-button {
            display: none!important;
            -webkit-appearance: none;
        }
    }
}

.overlay {
    font-size: 1em;
    position: absolute;
    background-color: rgba(32, 32, 32, 0.7);
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.overlay-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    padding: 0 20px;
    @media handheld, screen and (min-width: $bp-desktop) {
        padding: 0 percentage(126/1016);
    }
    p{
        @include font-size(16);
        font-family: $f-seroot-lt;
        letter-spacing: 1px;
        text-transform: uppercase;
        color: white;
        line-height: 22px;
        // padding-bottom: 5px;
        @media handheld, screen and (min-width: $bp-desktop) {
            @include font-size(20);
        }
    }
    .tag--home-title {
        color: #949494;
    }
    h2 {
        @include font-size(20);
        @media handheld, screen and (min-width: $bp-desktop) {
         @include font-size(32); 
     }
 }
 .excerpt {
    width: 100%;
    line-height: 22px;
    @media screen and (min-width: $bp-phone){
        width: 80%;
    }
}
.entry-title {
    padding-bottom: 5px;
    @include font-size(24);
    @media handheld, screen and (min-width: $bp-phone) {
     @include font-size(32); 
 }
}
}

.overlay--staff {
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease-in;
    & h2.underlined {
        margin-bottom: 0px;
        @include font-size(20);
        @media screen and (min-width: $bp-desktop) {
            @include font-size(28);
        }
        &:after {
            width: em(300, 75);
        }
    }
    & p {
        @include font-size(16);
        @media screen and (min-width: $bp-desktop) {
            @include font-size(20);
        }
    }
    .overlay-text {
        left: 0px;
        top: 50%;
        bottom: auto;
        @media handheld,
        screen and (min-width: $bp-phone) {
            bottom: auto;
            top: 51%;
        }
    }
    ul {
        display: none;
        margin-top: 6px;

        @media screen and (min-width: $bp-desktop) {
            display: block;
        }
        li {
            display: inline-block;
            margin-top: 0;
            margin-right: 10px;
            a {
              display: block;
              text-indent: -9999999px;
              width: 20px;
              height: 23px;
              background: url('../images/mail.svg') center center / 100% auto no-repeat;

              @media screen and (min-width: $bp-desktop) {
                &:hover {
                  opacity: 0.7;
              }
          }

      }
      &.linkedin {
          a {
            background: url('../images/linkedin.svg') 0 0 / 100% auto no-repeat;
        }
    }

}
}
}

.fullpage-overlay {
    display: none;
    height: 100vh;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 1000000;
    video {
        display: block;
        margin: 0px auto;
        width: 100%;
        max-height: 100vh;
        cursor: pointer;
    }
}

.module--image {
    padding-top: 0px;
}

.module--text-pad {
    padding-top: 100%;
    @media handheld,
    screen and (min-width: $bp-desktop) {
        padding-top: 50%;
    }
    &.module--mobile-double-height {
        @media handheld,
        screen and (min-width: 0px) and (max-width: $bp-phone) {
            padding-top: 160%
        }
    }
}

#staff-member {
    transition: all 0.5s ease;
    display: none;
}

#staff-member__close {
    position: absolute;
    cursor: pointer;
    top: 25px;
    right: 25px;
    height: 0;
    width: 17px;
    height: 17px;
    background: url('../images/close_btn.png') top left no-repeat;
    background-size: 17px 17px;
    overflow: hidden;
    cursor: pointer;
    z-index: 999;
    opacity: 0;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 17px;
        height: 17px;
        background: url('../images/close_btn_hover.png') top left no-repeat;
        background-size: 17px 17px;
        transition: all .2s;
        opacity: 0;
    }
    &:hover:before {
        opacity: 1;
    }
}

#staff-member__info {
    overflow: auto;
    opacity: 0;
    transition: opacity 0.5s ease;
    width: 100%;
    float: right;
    padding: 0% 5% 0% 0%;
    height: auto;
    top: 50%;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    @media handheld,
    screen and (min-width: $bp-desktop) {
        width: 50%;
    }
}

#staff-member__wrapper {
    @extend %clearfix;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#video-overlay-close {
    padding: 67px 0px 0px 0px;
    height: 0;
    width: 68px;
    background: url('../images/close_btn_video.png') 0px 0px no-repeat;
    margin: 0px auto;
    position: absolute;
    top: 0px;
    right: 0px;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
    &:hover {
        background: url('../images/close_btn_video.png') 0px -67px no-repeat;
    }
    & p {
        font-family: $f-seroot;
    }
}

.work-wrapper {
  padding-top:74px;
  .showreel {
    top: 0;
}
}
.work-container {
  top: 0px;

  .group-container {
    display: flex;
    flex-wrap: wrap;
    position: static;
    .module {
        padding-top: 0px;
        width: 100%;
        height: 270px;
        @media (min-width: $bp-phone) {
          width: 50%;
          height: 413px;

      }
      &:before {
          float: left;
          padding-top: 100%;
          content: '';

          @media (min-width: 768px) {
              padding-top: 50%;
          }

          @media (min-width: 1024px) and (max-width: 1300px) {
              padding-top: 60%;

          }

      }
      .module__text {
        top: 0;
        transform: translateY(0);
        padding: 0 5.56% 0 5.56%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        margin-bottom: -25px;

        .cube--link {
            display: none;
            @media (min-width: $bp-phone) {
                display: block;
            }
        }

        @media (min-width: $bp-desktop) {
            padding: 0 12% 0 12%; 
        }

        & > div {
          margin-bottom: -25px;
      }

      p {
        @include font-size(16);
        @media (min-width: $bp-desktop) {
            @include font-size(14);
        }
    }
}
}
}
.link-mobile {
    padding: 3% 6.25% 0 6.25%;
    display: block;

    &:last-child {
        padding: 3% 6.25% 55px 6.25%;
    }
    @media (min-width: $bp-phone) {
        display: none;
    }

    .cube {
        p {
            color: white;
        }
                .cube--front,.cube--top {
                    width: 235px;
                }

    }
}
}
