/* Work Page Archives*/


/* Work archive nav list styles */

#film-archive {
    #services--list{
        opacity: 1 !important;
        .list-film {
            color: #ec135b;
            &:after {
                content: " ";
                transition: all .5s;
                margin-top: 3px;
                height: 2px;
                display: block;
                content: " ";
                width: 100%;
                transform: translate3d(0, 0, 0);
                background-color: #ec135b;
            }
        }
    }
}

#motion-archive {
    #services--list{
        opacity: 1 !important;
        .list-motion {
            color: #ec135b;
            &:after {
                content: " ";
                transition: all .5s;
                margin-top: 3px;
                height: 2px;
                display: block;
                content: " ";
                width: 100%;
                transform: translate3d(0, 0, 0);
                background-color: #ec135b;
            }
        }
    }
}

#web-archive {
    #services--list{
        opacity: 1 !important;
        .list-web {
            color: #ec135b;
            &:after {
                content: " ";
                transition: all .5s;
                margin-top: 3px;
                height: 2px;
                display: block;
                content: " ";
                width: 100%;
                transform: translate3d(0, 0, 0);
                background-color: #ec135b;
            }
        }
    }
}

/* Work archive card and showreel styling */

#film-archive, #motion-archive, #web-archive {
    .fullpage-overlay {
        z-index: 1000000;
    }
    .film-show-reel, .motion-show-reel, .web-show-reel {
        z-index: 6;
        top: 60px;
        position: relative;
        width: 100%;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        .embed-container{
            position: relative;
            padding-bottom: 54.25%;
            padding-top: 25px;
            height: 0;
        }
        .reel-title {
            background-color: transparent;
            text-align: center;
            position: absolute;
            padding: 20% 0;
            z-index: 1;
            margin: 0 auto;
            width: 100%;
            pointer-events: none;
        }
    }
    .group-container {
        top: 60px;
        z-index: 6;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .work-film, .work-motion, .work-web {
        width: 100%;

        @media screen and (min-width: $bp-desktop) {
            width: 50%;
        }
        img {
            width: 100%;
            height: auto;
            transition: transform ease 0.5s;
        }
        .link {
            position: relative;
            overflow: hidden;
        }
        .related-links {
            position: absolute;
            top: 25%;
            padding: 0 12.4015748031%;
            opacity: 0;
            transition: all 0.5s ease-in-out;
            pointer-events: none;
            @media screen and (min-width: $bp-phone){
                top: 37%;
            }
            p {
                @include font-size(20);
                font-family: $f-instrumentserif; /* thin */
                letter-spacing: 1px;
                text-transform: uppercase;
                color: white;
                line-height: 22px;
                padding-bottom: 5px;
            }
            .excerpt {
                width: 100%;
                line-height: 22px;
                @media screen and (min-width: $bp-phone){
                    width: 80%;
                }
            }
            .entry-title {
                padding-bottom: 5px;
            }
        }
        &:hover {
            .related-links{
                opacity: 1;
                transition: all 0.5s ease-in-out;
            }
            img {
                opacity: 0.4;
                transform: scale(1.1,1.1);
                transition: transform ease 0.5s;
            }
        }

    }
    .client-logos {
        h2 {
            color: white;
            text-align: center;
            padding-bottom: 50px;
        }
    }
    #work_page {
        z-index: 2;
    }
}

.archive-show-reel {
    height: 78vh;
    z-index: 999999;
    top: 60px;
    position: relative;
    width: 100%;
    .header-play {
        margin: 25% auto;
    }
    video {
        width: 100%;
    }
    .reel-title {
        background-color: transparent;
        text-align: center;
        position: absolute;
        padding: 20% 0 0 0;
        z-index: 1;
        margin: 0 auto;
        width: 100%;
    }
}